.contentTitle {
	margin: 20px 10% 75px 10%;
	@media (max-width: 576px) {
		margin: 10px 5% 45px 5%
	}
}

.contentBannerTitle{
	color: #0F0E31;
	text-align: center;
	font-size: 30px;
	line-height: 39px;
}

.landingSecond {
	margin-left: 0!important;
	.left {
		padding-left: 5%;
	}
	@media (max-width: 576px) {
		flex-wrap: wrap-reverse !important;
	}
}


.post{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	margin-bottom: 140px;
	margin-left: 10%;

	&:last-child{
		margin-left: 0;
		margin-right: 10%;
		@media (max-width: 576px){
			margin-bottom: 50px;
		}
		
		.left{
			padding-left: 10%;
		}
	}
	
	img{
		width: 100%;
	}

	.right{
		width: 50%;
	}

	.left{
		width: 50%;
		.postContent{
			@media (max-width: 576px){
				margin-left: 30px!important;
				padding-right: 5%!important;
				margin-top: 100px;
			}
		}
	}

	p{
		color: #0F0E31;
		font-weight: bold;
		font-size: 24px;
		line-height: 31px;
		@media (max-width: 576px){
			font-size: 18px;
		}
	}

	.postDes{
		color: #515070;
		font-size: 20px;
		line-height: 26px;
		@media (max-width: 576px){
			font-size: 14px;
		}
	}
	
	.number{
		p{
			font-weight: bold;
			font-size: 200px;
			line-height: 219px;
			color: #F5F5FB
		}
	}

	@media (max-width: 576px){
		margin-bottom: 60px;
		.left{
			width: 100%;
		}
		.right {
			width: 100%;
		}
	}
}


.onlineBtn {
	margin-bottom: 100px;
	text-align: center;

	.online-btn_Title {
		font-size: 24px;
		line-height: 31px;
		text-align: center;
		color: #0F0E31;
	}
}

.btn-style_sample {
	background-color: #5D58F7;
	padding: 12.5px 44px;
	border-radius: 3px;
	color: white;
	border: none;
}
.service {
	background-color: #F5F5FB;
	padding: 100px 10%;
	.serviceDes {
		font-size: 30px;
		color: #0F0E31;
		line-height: 39px;
		margin-bottom: 40px;
		@media (max-width: 768px) {
			font-size: 26px;
		}
	}
	.secureType {
		margin-top: 30px;
		color: #5D58F7;
		display: flex;
		align-items: center;
		@media (max-width: 1024px) {
			margin-bottom: 30px;
		}
		span {
			&:last-child {
				margin-left: 5px;
			}
		}
	}

	.service-icon {
		img {
			margin-bottom: 20px;
		}
	}
	.service-title {
		color: black;
		font-weight: bold;
	}

	@media (max-width: 576px) {
		padding: 40px 5%;
	}
}

.rent-service {
	padding: 100px 10%;
	.btn-landing-2 {
		margin-top: 25px;
	}
	.s-landing-2-rent {
		margin-top: 10px;
		@media (max-width: 576px) {
			margin-top: 30px;
		}
	}
	.rent-content {
		background-image: url(/images/shape-desktop.png);
		height: 270px;
		background-repeat: no-repeat;
		background-size: cover;
		text-align: center;
		padding: 5%;
		@media (max-width: 576px) {
			background-image: url(/images/shape-mobile.png);
			height: 360px;
			padding: 10%;
		}

		.rent-content_title {
			font-size: 30px;
			line-height: 39px;
			text-align: center;
			letter-spacing: -0.01em;
			color: #FFFFFF;

			.subcontent {
				font-size: 27px;
				@media (max-width: 576px) {
					font-size: 18px;
				}
			}

			@media (max-width: 576px) {
				font-size: 25px;
				line-height: 34px;
			}
		}
	}

	@media (max-width: 576px) {
		padding: 40px 3%;
	}
}

.round {
	height: 286px;
    width: 100%;
	clip-path: polygon(100% 0, 100% 78%, 81% 100%, 0 100%, 0 100%, 0 0);
	border-radius: 6px 6px 90px 6px;
}

// Landing Second Page

.s-landing {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	margin-left: 10%;

	&:last-child{
		margin-left: 0;
		margin-right: 10%;
		@media (max-width: 576px){
			margin-bottom: 50px;
		}
		
		.left{
			padding-left: 10%;
		}
	}
	
	img{
		width: 100%;
	}

	.right{
		width: 50%;
	}

	.left{
		width: 50%;
		.s-rent_title {
			text-align: left;
			color: #0F0E31;
			.category {
				font-weight: bold;
				font-size: 16px;
				line-height: 21px;
				margin-bottom: 30px;
			}
			.title {
				font-size: 30px;
				line-height: 39px;
				margin-bottom: 30px;
			}
			.subtitle {
				font-size: 26px;
				line-height: 34px;
				margin-bottom: 50px;
			}
		}
	}

	@media (max-width: 576px){
		margin-bottom: 60px;
		margin-left: 5%;
		.left{
			width: 100%;
		}
		.right {
			width: 100%;
		}
	}
	.secureType {
		margin: 0;
		margin-left: 20px;
		color: #5D58F7;
		display: flex;
		align-items: center;
		@media (max-width: 1024px) {
			margin-left: 0px;
			margin-top: 30px;
			margin-bottom: 30px;
		}
		span {
			&:last-child {
				margin-left: 5px;
			}
		}
	}
	.s-landing_diagram {
		.diagram-step {
			display: flex;
			align-items: center;
			img {
				width: 44px;
				height: 44px;
			}
			.diag-title_style {
				font-weight: bold;
				color: #0F0E31;
				margin: 0;
				margin-left: 20px;
				@media (max-width: 576px ) {
					font-size: 16px;
				}
			}
		}
		.diagram-step_divider {
			margin-left: 21.5px;
			img {
				width: 1.5px;
			}
		}
		@media (max-width: 576px) {
			margin-bottom: 30px;
		}
	}
}


.s-landing-large_title {
	text-align: right;
	padding: 20px 10%;
	p {
		font-weight: bold;
		font-size: 168px;
		line-height: 184px;
		letter-spacing: -0.01em;
		color: #F5F5FB;
	}
	@media (max-width: 1024px) {
		display: none;
	}
}

@media (max-width: 1024px) {
	.contentBannerTitle {
		font-size: 28px
	}
}

@media (max-width: 576px) {
	.contentBannerTitle {
		font-size: 22px;
	}
	.post {
		.left {
			display: flex;
		}
		.landingFirst {
			margin-left: 5%;
			margin-top: 40px;

			.left {
				display: flex;
				margin-left: 5%;
				width: unset;
			}
			.right {
				width: unset;
			}
		}
		.landingSecond {
			margin-right: 0!important;
			margin-top: 40px;
			flex-wrap: wrap-reverse;

			.left {
				display: flex;
				margin-right: 5%;
				width: unset;
				padding-left: 0!important;
			}
			.right {
				width: unset;
			}

		}
	}
	.s-landing {
		.landingFirst {
			margin-left: 5%;
			margin-top: 40px;

			.left {
				margin-left: 5%;
				width: unset;
			}
			.right {
				width: unset;
			}
		}
		.landingSecond {

			.left {
				margin-right: 5%;
				width: unset;
				padding-left: 0!important;
			}
			.right {
				width: unset;
			}

		}
	}
}