extends ./layout

block headerContent
    .header-public_content.custom-margin_content
        p.subtitle DONACIONES
        p.title Acumular ya fue
        p.category Animate a vivir más liviano: lo que no guardes en Space Guru, te ayudamos a donarlo, para que tus cosas vuelvan a ser aprovechadas por otros. Y si esto no es posible, también te ayudamos a darles un final ecológico.

block content
    .body-public_content
        p.title.text-center Acumular ya fue
        p.public-content_style.text-italic.custom-padding_style.text-center.pb-4 Animate a vivir más liviano: lo que no guardes en Space Guru, te ayudamos a donarlo, para que tus cosas vuelvan a ser aprovechadas por otros. Y si esto no es posible, también te ayudamos a darles un final ecológico.

        p.title DONACIONES
        p.public-content_style Al contratar tu espacio con Space Guru te damos la posibilidad de, en el mismo traslado, llevarnos aquello que quieras poner en circulación a través de una donación.
        p.public-content_style Trabajamos con diferentes partners que reciben de manera responsable tus objetos, para asegurarte de que vuelvan a tener vida y sean disfrutados por otros.
        p.public-content_style.spec-content_style <span class="label">- Ejército de la Salvación:</span>  todo de tipo de artículos.
        p.public-content_style.spec-content_style <span class="label">- Fundación Sí:</span> útiles escolares, ropas, artículos del hogar (excepto muebles y libros).
        p.public-content_style.spec-content_style <span class="label">- Fundación Redes Solidarias:</span> útiles escolares y herramientas.
        p.public-content_style.spec-content_style <span class="label">- Emmaus:</span> todo tipo de donaciones.
        p.public-content_style Si querés hacer una donación, por favor avisá con antelación al equipo de soporte para que podamos gestionar todo de manera correcta. Es importante que seas cuidadoso con la forma en la que se entregan las cosas, y que pienses en los otros. Básicamente, si no lo usarías vos o un amigo, seguramente no esté en condiciones para donarse.
        p.public-content_style.spec-content_style - ROPA: deberá venir lavada y acomodada, en bolsas resistentes y debidamente identificada (por ejemplo: “ropa de hombre”, “ropa de mujer”, “ropa de niños”).
        p.public-content_style.spec-content_style - ARTÍCULOS DE COCINA: cubiertos, vasos, platos etc.
        p.public-content_style.spec-content_style - ROPA DE CAMA Y BAÑO: sábanas, toallas, frazadas, edredón. Todo lavado y en condición de uso.
        p.public-content_style.spec-content_style - MUEBLES: deberán estar en condiciones de ser utilizados por otros. No dones nada que no usarías vos mismo.
        p.public-content_style.spec-content_style - ELECTRODOMÉSTICOS: tienen que estar funcionando, estar en buenas condiciones y si necesitan reparación, informar en el momento de la donación. 
        p.public-content_style.spec-content_style - Materiales de construcción:

        p.title DISPOSICIÓN FINAL
        p.public-content_style ¿No sabés qué hacer con la heladera, el televisor de tubo o los celulares que ya no funcionan? En el caso de que tengas objetos electrónicos y electrodomésticos que ya no pueden servirle a otros, también te podemos ayudar. Trabajamos con varias empresa recicladoras tanto de materiales como de resíduos electrónicos. 
        p.public-content_style.spec-content_style <span class="label">- GEA:</span> reciclaje y disposición final de plástico, papeles, madera, metales y residuos electrónicos.
        p.public-content_style.spec-content_style <span class="label">- Centro Basura Cero:</span> disposición final de residuos electrónicos.
        p.public-content_style.spec-content_style <span class="label">- Electroerreciclado:</span> reciclado de residuos electrónicos y electrodomésticos.

        p.title En Space Guru nos mueve la preocupación por el medio ambiente, por eso además de alentar un estilo de vida con menos consumo, colaboramos con la economía circular. ¿Cómo? Ayudando a que las cosas guardadas o sub utilizadas se vuelvan a poner en valor a través del alquiler y la donación. Y si eso no es posible, colaboramos con la disposición final de las cosas, de manera de reducir el impacto en el ambiente.
