extends ./layout

block headerContent
    .header-guardado_content
        p.subtitle SEGURO DE GUARDADO
        p.title Tus pertenencias están <span class="c-inline">protegidas.</span>

block content
    .l-landing-guardado_content
        p.l-landing-body_header En Space Guru cuidamos de tus artículos y de tu experiencia, por eso elaboramos este Programa de Protección exclusivo para nuestros usuarios.
        .l-landing-body_content 
            p.l-landing_content Sabemos que nos confiaste tus pertenencias y lo valoramos, por eso desde Space Guru te ofrecemos la opción del Seguro de Guardado que se describe a continuación. Esta opción es limitada, mínima y no reemplaza un seguro tradicional de una empresa aseguradora. Esta opción solo está disponible como complemento de tu contrato principal con Space Guru para almacenar y transportar tus pertenencias.

            p.l-landing_content En el caso de que aceptes los Términos y Condiciones de servicio de transporte y almacenamiento de Space Guru, tendrás la opción de complementar ese acuerdo con el Seguro de Guardado de Space Guru. Este servicio brindará una limitada protección para las pertenencias que almacenes con nosotros en caso de que se pierdan o dañen mientras estén en poder de Space Guru. 

            p.l-landing_content En resumen, sujeto a las condiciones que se describen a continuación, Space Guru te reembolsará el costo de reparación o reemplazo (el que sea menor) de tus pertenencias. El valor de máximo de reembolso estipulado para un ítem es de hasta ARS $10.000,00 (diez mil pesos argentinos).

            p.l-landing_content El valor del reemplazo es de criterio exclusivo de Space Guru y se toma como base el valor del mercado de usados para artículos usados y los artículos nuevos con prueba del estado y factura de compra de artículo. 

            p.l-landing_content Esta opción de protección limitada no reemplaza un seguro formal y está sujeta a las siguientes condiciones:

            p.l-landing_content 1. Aplicará siempre y cuando no sean algunos de los artículos prohibidos por el Guía de Almacenamiento, los Términos y Condiciones o cualquier otro acuerdo entre vos y Space Guru.

            p.l-landing_content 2. Las pertenencias deben estar preparadas y embaladas, protegiendo con cuidado los elementos frágiles. 

            p.l-landing_content 3. Las pertenencias deben cumplir con nuestros estándares de almacenamiento (no debe haber artículos restringidos especificados en la lista de artículos restringidos de Space Guru, ni que estén goteando, mohosos, con mal olor, sucios o de un modo que ponga en riesgo el estado del objeto).

            p.l-landing_content 4. La bolsa o caja donde se encuentren los artículos debe estar sellada correctamente para su traslado.

            p.l-landing_content 5. Una vez que hayas recibido tus pertenencias tenés hasta 48h para verificar que sean las mismas que almacenaste en Space Guru y que no hayan sufrido ningún daño o pérdida.

            p.l-landing_content 6. Notificar a Space Guru dentro de las 48 hs. posteriores a la entrega, por cualquiera de nuestros medios de contacto, sobre el daño o rotura de tus artículos previamente almacenados en nuestro depósito. Esta notificación debe tener una prueba demostrable de la pérdida o daño.

            p.l-landing_content Esta opción de protección limitada establece nuestra responsabilidad exclusiva, y su recurso exclusivo, por cualquier pérdida o daño a tus pertenencias almacenadas por Space Guru. Esta opción de protección limitada excluye cualquier daño indirecto u otros costos que no estén expresamente cubiertos anteriormente. Si alguna parte de esta opción de protección limitada no es válida o no se puede hacer cumplir, las partes tienen la intención de que se lleve a cabo en la mayor medida permitida, y que los términos restantes de esta opción de protección limitada continúen vigentes.
        
        .l-landing-contact_content
            .l-contact-body_title
                p.title ¿Tenés dudas sobre nuestro Seguro de Guardado? ¡Nuestro<span class="c-inline"> equipo de Gurúes de atención al cliente están para ayudarte! </span>
                .overflow-section
                    .row-user.justify-between
                        .contact_category
                            img.bg(src="/images/l-landing-bg.png", alt="Landing BG")
                            .round
                                img(src="/images/l-landing-phone.png", alt="Phone" )
                                p.contact-title ¡Llamanos!
                                p.contact-subtitle ¿Querés hablar con un representante? Llamanos al 
                                p.contact-details (011) 3988-4042.
                        .contact_category
                            img.bg(src="/images/l-landing-bg.png", alt="Landing BG")
                            .round
                                img(src="/images/l-landing-mail.png", alt="Mail" )
                                p.contact-title ¡Escribinos!
                                p.contact-subtitle ¿Querés enviarnos un email? Escribinos a 
                                p.contact-details hola@space.guru
                        .contact_category
                            img.bg(src="/images/l-landing-bg.png", alt="Landing BG")
                            .round
                                img(src="/images/l-landing-whatsapp.png", alt="Whatsapp" )
                                p.contact-title ¡Chateá!
                                p.contact-subtitle ¿Necesitás atención personalizada? Chateanos al 
                                p.contact-details (011) 5263-5754.



