extends ./layout

block headerContent
    .header-public_content
        p.subtitle TÉRMINOS Y CONDICIONES
        p.title Todo claro para que disfrutes de
        p.title Space Guru con total confianza.

block content
    .body-public_content
        a.anchor-menu_content
            span.anchor-menu_style Términos y Condiciones
            img(src="/images/arrow-black.png", alt="Arrow" )
        a.anchor-menu_content
            span.anchor-menu_style Guía de Almacenamiento
            img(src="/images/arrow-black.png", alt="Arrow" )
        a.anchor-menu_content
            span.anchor-menu_style Seguro de Guardado
            img(src="/images/arrow-black.png", alt="Arrow" )
        a.anchor-menu_content
            span.anchor-menu_style Contrato de Alquiler
            img(src="/images/arrow-black.png", alt="Arrow" )