extends ./layout

block content
  div.content
    .header-nosotros_content
      p.subtitle SOBRE NOSOTROS
      p.title Viví simple. Reutilizá. Liberate para lo que viene.
    .l-landing-nosotros_content
      .l-landing-post_content
        .row-user.align-center.flex-reverse
          .col-12.col-sm-12.col-md-12.col-lg-6.img-box_style
            img(src="/images/f-landing-1.png", alt="Landing Post" )
          .col-12.col-sm-12.col-md-12.col-lg-6
            p.landing-title_style Nuestra Meta.
            p.ladning-subtitle_style Vivimos en un <span class="landing-subtitle-span_style">mundo colapsado de cosas</span> que no utilizamos. <span class="landing-subtitle-span_style">Necesitamos espacio</span> en nuestras computadoras, en nuestros hogares, en nuestro celular y en nuestras mentes.
            p.ladning-subtitle_style El mundo necesita que dejemos de comprar y acumular y empecemos a reutilizar y <span class="landing-subtitle-span_style">compartir lo que tenemos.</span>
            p.ladning-subtitle_style SpaceGuru nace en este contexto: <span class="landing-subtitle-span_style">para solucionar el problema de la falta de espacio</span> en las grandes ciudades, siguiendo la tendencia de vivir solo con lo necesario; y de <span class="landing-subtitle-span_style">poner en circulación</span> aquello que no estamos utilizando, para <span class="landing-subtitle-span_style">darle nueva vida.</span>
            p.landing-post-footer_style Hoy tenemos la oportunidad de usar la tecnología a nuestro favor para poder vivir más simple.
        .row-user.align-center.custom-space_style
          .col-12.col-sm-12.col-md-12.col-lg-6
            p.landing-title_style Nuestra Meta.
            p.ladning-subtitle_style Queremos revolucionar el concepto de <span class="landing-subtitle-span_style">"tener"</span>. Creemos en soltar y en <span class="landing-subtitle-span_style">aprovechar mejor los recursos y las cosas</span>. Creemos en colaborar con  nuestro <span class="landing-subtitle-span_style">impacto en el mundo</span>, teniendo menos y compartiendo más. 
            p.landing-post-footer_style Hoy tenemos la oportunidad de usar la tecnología a nuestro favor para poder vivir más simple.
          .col-12.col-sm-12.col-md-12.col-lg-6.img-box_style
            img(src="/images/f-landing-2.png", alt="Landing Post" )
      .l-landing-label_group
        .row-user.label-box_style
          .col-12.col-sm-12.col-md-12.col-lg-5
            .row-user.align-center.logo-box
              img(src="/images/footer-logo.png", alt="Logo")
              p.logo-title_style Código Guru
          .col-12.col-sm-12.col-md-12.col-lg-7
            .row-user.label-content_style
              .col-12.col-sm-12.col-md-12.col-lg-12.col-xl-6.padding-zero
                p.label-title_style LO QUE YA FUÉ
                p.custom-shape_title.color-5.color-7 Adaptate a nosotros
                p.custom-shape_title.color-5.color-7 Somos tradicionales
                p.custom-shape_title.color-5.color-7 Acumulá y guardá
                p.custom-shape_title.color-5.color-7 ¿Medio ambiente? después vemos
                p.custom-shape_title.color-5.color-7 Sigamos como hasta ahora
              .col-12.col-sm-12.col-md-12.col-lg-12.col-xl-6.padding-zero.custom-margin_style
                p.label-title_style LO QUE VIENE 😉
                p.custom-shape_title.color-6.color-8 ¡Nos adaptamos a vos!👊
                p.custom-shape_title.color-6.color-8 ¡Somos inteligentes! 🤓
                p.custom-shape_title.color-6.color-8 ¡Compartí! ♻
                p.custom-shape_title.color-6.color-8 Nos ocupamos de nuestro 🌎
                p.custom-shape_title.color-6.color-8 ¡Seamos mejores! 🙏