extends ./layout

block headerContent
    .header-public_content
        p.subtitle POLÍTICA DE PRIVACIDAD Y SEGURIDAD
        p.title Todo sobre tus datos, 
        p.title seguridad y privacidad.

block content
    .body-public_content
        p.title Seguridad y Privacidad (última actualización 28 febrero 2020).

        p.public-content_style Nosotros en Space Guru S.A.S. (“Space Guru", "Nosotros" o "Nuestro") creamos esta Política de Privacidad porque nos preocupa tu privacidad y comprendemos que deseás comprender cómo se usa, se almacena y se comparte la información que nos proporcionás. Esta Política de privacidad describe cómo recopilamos tu información cuando visita el sitio web de Space Guru, ubicado en www.space.guru (el "Sitio"), o accede a la aplicación móvil de Space Guru (la "App"), cómo se usa y almacena tu información y cómo podemos usar y compartir esa información. 
        
        p.public-content_style Este documento forma parte  de los Términos y Condiciones de Space Guru. Mediante la aceptación de los Términos y Condiciones en el momento de la registración, el usuario acepta las políticas aquí contenidas.

        p.title La información que recopilamos.

        p.public-content_style <span class="label">Datos personales.</span> “Datos Personales” es la información que lo identifica o puede razonablemente esperarse que nos permita identificarlo y contactarlo. Dichos datos personales pueden incluir su nombre, dirección, dirección de e-mail, número de teléfono, fecha de nacimiento u otra información de identificación personal. Al registrarse para una cuenta Space Guru, se le pedirá que nos proporcione datos personales. También podemos recopilar datos personales que nos proporcione voluntariamente, como cuando nos contacta con consultas, responde a una de nuestras encuestas o envía su propio contenido (por ejemplo, calificaciones, reseñas o comentarios) utilizando el Sitio o la App.

        p.public-content_style <span class="label">Información de facturación.</span> Si desea suscribirse a nuestros servicios pagos, incluidos nuestros servicios de almacenamiento, de alquiler de ítems y otros servicios (en conjunto, los "Servicios") a través del Sitio o la App, también se le pedirá que nos proporcione cierta información o a las plataformas de pago de terceros.  Dicha información puede incluir información de tarjetas de crédito o débito y datos similares (colectivamente, "Información de facturación").

        p.public-content_style <span class="label">Otras informaciones recopiladas automáticamente.</span> También podemos recopilar información adicional, que incluye: (i) información que recopilamos automáticamente cuando visita el Sitio utilizando herramientas de análisis, como su dirección IP, proveedor de servicios de Internet, tipo de navegador e idioma, páginas y URL de referencia y de salida, fecha y el momento de su visita, la cantidad de tiempo dedicado a páginas particulares, las secciones del sitio que visita, el número de enlaces en los que hace clic mientras se encuentra en el Sitio, y la información similar sobre su uso del Sitio; (ii) información adicional que nos proporciona voluntariamente con respecto a su uso e interés en nuestros programas, ofertas, productos y servicios; e  (iii) información recopilada por nuestras cookies (ver a continuación) (colectivamente, "Otra información").

        p.public-content_style <span class="label">Cookies.</span> El usuario y el visitante del sitio Web de Space Guru conoce y acepta que Space Guru podrá utilizar un sistema de seguimiento mediante la utilización de cookies (las "Cookies"). Las Cookies son pequeños archivos que se instalan en el disco rígido, con una duración limitada en el tiempo que ayudan a personalizar los servicios. También ofrecemos ciertas funcionalidades que sólo están disponibles mediante el empleo de Cookies. Las Cookies se utilizan con el fin de conocer los intereses, el comportamiento y la demografía de quienes visitan o son usuarios de nuestro Sitio Web y de esa forma, comprender mejor sus necesidades e intereses y darles un mejor servicio o proveer información relacionada. También usaremos la información obtenida por intermedio de las Cookies para analizar las páginas navegadas por el visitante o usuario, las búsquedas realizadas, mejorar nuestras iniciativas comerciales y promocionales, mostrar publicidad o promociones, banners de interés, noticias sobre Space Guru, perfeccionar nuestra oferta de contenidos y artículos, personalizar dichos contenidos, presentación y servicios; también podremos utilizar Cookies para promover y hacer cumplir las reglas y seguridad del sitio. Space Guru podrá agregar Cookies en los e-mails que envíe para medir la efectividad de las promociones.

        p.public-content_style Utilizamos adicionalmente las Cookies para que el usuario no tenga que introducir su clave tan frecuentemente durante una sesión de navegación, también para contabilizar y corroborar las registraciones, la actividad del usuario y otros conceptos para acuerdos comerciales, siempre teniendo como objetivo de la instalación de las Cookies, el beneficio del usuario que la recibe, y no será usado con otros fines ajenos a Space Guru.
        p.public-content_style Se establece que la instalación, permanencia y existencia de las Cookies en la computadora del usuario depende de su exclusiva voluntad y puede ser eliminada de su computadora cuando el usuario así lo desee. 

        p.public-content_style Adicionalmente, se pueden encontrar Cookies u otros sistemas similares instalados por terceros en ciertas páginas de nuestro sitio Web. Por ejemplo, al navegar por una página creada por un usuario, puede que exista una Cookie emplazada en tal página.

        p.public-content_style Se aclara expresamente que estas políticas cubren la utilización de Cookies por este sitio y no la utilización de Cookies por parte de anunciantes. Nosotros no controlamos el uso de Cookies por parte de terceros.

        p.public-content_style <span class="label">Web Beacons.</span>  Un Web beacon es una imagen electrónica, también llamada single-pixel (1 x 1) o pixel transparente, que es colocada en código de una página Web. Un Web beacon tiene finalidades similares a las Cookies. Adicionalmente un Web beacon es utilizado para medir patrones de tráfico de los usuarios de una página a otra con el objeto de maximizar cómo fluye el tráfico a través de la Web. El usuario y/o el visitante del sitio Web de Space Guru conoce y acepta que Space Guru podrá utilizar un sistema de seguimiento mediante la utilización de Web beacons.

        p.public-content_style <span class="label">Información del dispositivo.</span> Cuando utiliza la aplicación móvil o accede al sitio a través de un dispositivo móvil (incluidos, entre otros, los teléfonos inteligentes o las tabletas), podemos acceder, recopilar, supervisar y/o almacenar remotamente uno o más "identificadores de dispositivos", tales como un identificador único universal. Los identificadores de dispositivo son archivos pequeños o estructuras de datos similares almacenadas o asociadas a su dispositivo móvil, que identifican de manera única su dispositivo móvil. Un identificador de dispositivo puede ser información almacenada en conexión con el hardware del dispositivo, datos almacenados en conexión con el sistema operativo del dispositivo u otro software, o datos enviados al dispositivo por nosotros. Un identificador de dispositivo puede transmitirnos información sobre cómo navega y utiliza el Sitio, y puede permanecer persistentemente en su dispositivo, para ayudarlo a iniciar sesión más rápido y mejorar su navegación a través del Sitio. Es posible que algunas funciones de la app, el Sitio o los Servicios no funcionen correctamente si deshabilita o perjudica nuestro acceso o uso de los identificadores de dispositivo.

        p.title Cómo usamos su información.

        p.public-content_style Usamos la información descrita anteriormente de la siguiente manera:

        p.public-content_style <span class="label">1.</span> Proporcionando acceso y uso del Sitio, la App y los Servicios, que incluyen:
        p.public-content_style.spec-content_style - Procesar, verificar, validar y completar tus transacciones,
        p.public-content_style.spec-content_style - asociar las pertenencias que almacenás con nosotros (tus "pertenencias") con tu cuenta,
        p.public-content_style.spec-content_style - crear y organizar fotografías de tus pertenencias en tu cuenta,
        p.public-content_style.spec-content_style - crear, administrar y mantener tu membresía a los Servicios,
        p.public-content_style.spec-content_style - proporcionar soporte al cliente solicitado y servicios similares,
        p.public-content_style.spec-content_style - mantener registros de tu historial de compras,
        p.public-content_style.spec-content_style - permitir tu participación en concursos y promociones que podemos ofrecer, y
        p.public-content_style.spec-content_style - enviar correos electrónicos y notificaciones con respecto a su transacción y de otra manera según corresponda y para los fines descritos anteriormente;

        p.public-content_style <span class="label">2.</span> Enviar notificaciones y comunicaciones para informarte sobre nuestros productos y servicios que pueden ser de tu interés, así como los de nuestros socios de marketing externos;

        p.public-content_style <span class="label">3.</span> Informarte sobre las recompensas y los programas promocionales que podemos ofrecerte;

        p.public-content_style <span class="label">4.</span> Solicitar tus comentarios y sugerencias a nuestro Sitio, App y Servicios;

        p.public-content_style <span class="label">5.</span> Realizar análisis basados en tu actividad utilizando el Sitio, la App o los Servicios;

        p.public-content_style <span class="label">6.</span> Solucionar cualquier problema técnico en el Sitio, la App o tu cuenta; y

        p.public-content_style <span class="label">7.</span> Actualizar automáticamente nuestra app en tu dispositivo móvil, si nos permitís hacerlo.


        p.title Quién más puede recibir tu información.

        p.public-content_style <span class="label">No alquilamos ni compartimos tu información con terceros sin tu consentimiento.</span> Sin embargo, podemos compartir tu información dentro de Space Guru y con terceros que nos ayudan a proporcionarle el Sitio, la App o los Servicios, o realizar otras funciones operativas o relacionadas con el negocio. En particular:

        p.public-content_style <span class="label">Proveedores de servicios de terceros.</span> Algunas veces contratamos a otros proveedores de servicios para realizar ciertas funciones relacionadas con el negocio ("Contratistas"). Podemos compartir tus datos personales y la información de facturación con nuestros contratistas para permitirles realizar estas funciones, tales como procesar pagos, recoger sus pertenencias, transportar las pertenencias, almacenar las pertenencias, mantener bases de datos y otros servicios relacionados. Cuando contratamos a contratistas, les exigimos que utilicen los datos personales y la información de facturación sólo en relación con los servicios que realizan para nosotros.

        p.public-content_style <span class="label">Agencias de publicidad y media.</span> Podemos asociarnos con una o más agencias de publicidad de terceros para realizar publicidades en nuestro Sitio o para administrar nuestra publicidad en otros sitios o espacios. Nuestros socios pueden utilizar cookies y web beacons para recopilar datos no personales sobre sus actividades en este y otros sitios web o apps para proporcionarle publicidad dirigida. 

        p.public-content_style <span class="label">Socios de marketing.</span> Podemos compartir sus datos personales y otra información con nuestros socios de marketing y promoción de terceros. Si no deseas que compartamos tu información personal con estas compañías, escribinos a hola@space.guru También podemos compartir Otra información sobre su actividad en el Sitio con terceros con el fin de adaptar, analizar, gestionar, informar y optimizar la publicidad que ves en el Sitio, la app y en otros lugares. Estos terceros pueden usar cookies, etiquetas de píxeles (también llamadas web beacons o GIF transparentes) u otras tecnologías para recopilar Otra información para estos fines. Las etiquetas de píxeles nos permiten, y a estos terceros, reconocer las cookies de un navegador cuando un navegador visita el sitio etiquetado para mostrar anuncios personalizados y habilitar otras funciones.

        p.public-content_style <span class="label">Afiliados y socios comerciales.</span> En un esfuerzo continuo por comprender mejor a nuestros usuarios y nuestro Sitio, podríamos analizar la Otra información en forma agregada de una manera que no identifique personalmente a ningún usuario ("Información agregada"). Podemos usar información agregada para realizar investigaciones sobre los datos demográficos, intereses y comportamientos de nuestros usuarios finales, o para operar o mejorar nuestro negocio, y podemos compartir información agregada con nuestros afiliados, agentes y socios comerciales. También podemos divulgar estadísticas agregadas de usuarios para describir nuestros productos y el Sitio a socios comerciales actuales y potenciales y a otros terceros para otros fines legales.

        p.public-content_style <span class="label">Fusiones y adquisiciones.</span> A medida que desarrollamos nuestro negocio, podríamos vender o comprar negocios o activos. En el caso de una venta corporativa, fusión, reorganización, disolución o evento similar, los Datos Personales, la Información de Facturación, la Información del Dispositivo y Otra Información pueden ser parte de los activos transferidos.

        p.public-content_style <span class="label">Requerimientos legales.</span> Podemos divulgar tus Datos personales, Información de facturación y / u Otra información si creemos de buena fe que estamos obligados a hacerlo por ley (a) para cumplir con una citación de la justicia u obligación legal, (b) para proteger y defender nuestros derechos o propiedad, (c) actuar en circunstancias urgentes para proteger la seguridad personal de nuestros usuarios, los contratistas o el público, y / o proteger la propiedad de otros usuarios y el almacén (d) si a nuestro criterio, dicho uso o divulgación es necesario para hacer cumplir o proteger nuestros derechos legales, esta Política de privacidad, o para proteger a terceros, o (e) de otra manera, con tu consentimiento previo.

        p.title Confidencialidad de la información.

        p.public-content_style <span class="label">Una vez registrado en su sitio Web, Space Guru no venderá, alquilará o compartirá la Información Personal excepto en las formas establecidas en estas políticas.</span> Sin perjuicio de ello, el usuario consiente en forma expresa que Space Guru transfiera total o parcialmente la Información Personal a cualquiera de las sociedades controladas, controlantes y/o vinculadas con Space Guru, a cualquier título y en el momento, forma y condiciones que estime pertinentes. Haremos todo lo que esté a nuestro alcance para proteger la privacidad de la información. Puede suceder que en virtud de órdenes judiciales, o de regulaciones legales, nos veamos obligados a revelar información a las autoridades o terceras partes bajo ciertas circunstancias, o bien en casos en los que terceras partes puedan interceptar o acceder a cierta información o transmisiones de datos en cuyo caso Space Gurú no responderá por la información que sea revelada.

        p.title Derechos de acceso, cancelación y rectificación de la información personal.

        p.public-content_style Los usuarios tienen reconocidos y podrán ejercitar los derechos de acceder, cancelar y/o actualizar su Información Personal, incluyendo su dirección de e-mail, así como a oponerse al tratamiento de la misma y a ser informado de las cesiones llevadas a cabo, todo ello de conformidad a lo dispuesto en la normativa aplicable. Conforme se establece en el artículo 14, inciso 3 de la Ley Nº 25.326, el titular de los datos personales, previa acreditación de su identidad, tiene la facultad de ejercer el derecho de acceso a los mismos, dentro de los 10 (diez) días corridos desde la acreditación de su identidad, en forma gratuita a intervalos no inferiores a seis meses, salvo que se acredite un interés legítimo al efecto. Para la rectificación y supresión de los datos personales, el titular de los mismos podrá ejercer tales derechos dentro de los 5 (cinco) días hábiles de acreditada su identidad.

        p.public-content_style Los usuarios garantizan y responden, en cualquier caso, de la veracidad, exactitud, vigencia y autenticidad de la Información Personal facilitada, y se comprometen a mantenerla debidamente actualizada.

        p.public-content_style Una vez registrado en Space Guru, el usuario podrá revisar y cambiar la información que nos ha enviado durante el proceso de registración incluyendo:

        p.public-content_style <span class="label">1.</span> La dirección de correo electrónico. Sin perjuicio de los cambios que realice, Space Gurú conservará la Información Personal anterior por motivos de seguridad y control del fraude.

        p.public-content_style <span class="label">2.</span> La información de la registración como: compañía, domicilio, ciudad, región, código postal, número principal de teléfono, número secundario de teléfono, correo electrónico, etc.

        p.public-content_style <span class="label">3.</span> La clave.

        p.public-content_style En determinados casos, mantendremos en nuestros archivos Información Personal que nos se nos haya pedido que retiremos, con la finalidad de resolver disputas o reclamaciones, detectar problemas o incidencias y solucionarlos, y dar cumplimiento a lo dispuesto en los Términos y Condiciones por un período de tiempo determinado por la ley. En cualquier caso, la Información Personal de un usuario no será inmediatamente retirada de nuestros archivos por motivos legales y técnicos, incluyendo sistemas de soportes de seguridad. Por tanto, no se debe esperar que toda la Información Personal sea definitivamente borrada de nuestras bases de datos.

        p.public-content_style Los usuarios deben actualizar su Información Personal periódicamente conforme vaya cambiando para que los otros usuarios puedan ubicarlos cuando realicen una operación. Para hacer cualquier modificación en la información que suministrada en el momento de la Registración, se debe ingresar en la sección Mi Cuenta.

        p.public-content_style Space Guru podrá modificar en cualquier momento los términos y condiciones de estas Políticas de Privacidad y confidencialidad y/o las prácticas de envío de e-mails. Si decidimos introducir algún cambio material a nuestras Políticas de Privacidad, le notificaremos publicando una versión actualizada de las Políticas en esta sección o mediante el envío de un e-mail o informando en la página principal u otras secciones del sitio para mantenerte actualizado de los cambios realizados.

        p.public-content_style Si hacemos cambios materiales en la forma que en la que tu Información Personal es administrada te notificaremos por e-mail para que puedas tomar una decisión informada respecto de si aceptas o no que tu Información Personal sea utilizada de esa forma. Si no aceptas esos términos, en ese caso quedará disuelto el vínculo contractual y tu Información Personal no será usada de otra forma que la que fue informada al momento de recabarse.

        p.public-content_style Para mayor información sobre la confidencialidad de tu Información personal, contáctanos por correo electrónico.

        p.public-content_style Se informa que la Dirección Nacional de Protección de Datos Personales, Órgano de Control de la Ley Nº 25.326, tiene la atribución de atender las denuncias y reclamos que se interpongan con relación al incumplimiento de las normas sobre protección de datos personales.

        p.public-content_style Por correo ordinario a: Angel Gallardo 551, Capital Federal, código postal 1414, República Argentina.
        p.public-content_style Por e-mail: hola@space.guru

        p.title Menores de edad.

        p.public-content_style Nuestros Servicios sólo están disponibles para aquellas personas que tengan capacidad legal para contratar. Por lo tanto, aquellos que no cumplan con esta condición deberán abstenerse de suministrar información personal para ser incluida en nuestras bases de datos. Sin embargo, pueden hacerlo a través de los padres o tutores.

        p.title Clave personal.

        p.public-content_style Para acceder a los Servicios reservados únicamente para los usuarios debidamente registrados, los usuarios dispondrán de una clave personal. Con ella podrán solicitar nuestros servicios de almacenamiento, transporte y alquileres de sus pertenencias. Esta clave deben mantenerla bajo absoluta confidencialidad y, en ningún caso, deberán revelar o compartirla con otras personas.

        p.public-content_style El usuario será responsable de todos los actos que tengan lugar mediante el uso de su Nombre de Usuario y  Clave, lo que incluye hacerse cargo del pago de las tarifas que eventualmente se devenguen o por los perjuicios que puedan sufrir otros usuarios por tal motivo. Si por cualquier razón un usuario creyera que alguien puede conocer su clave, deberá modificarla ingresando desde el menú de navegación en Mi cuenta > Modificar mi Contraseña.

        p.title Enlaces a otros sitios web.

        p.public-content_style El Sitio puede contener enlaces a sitios web de terceros. No tenemos control sobre las prácticas de privacidad o el contenido de ninguno de nuestros socios comerciales, anunciantes, patrocinadores u otros sitios web a los que proporcionamos enlaces. Como tal, no somos responsables del contenido o las políticas de privacidad de esos sitios web de terceros. Se debe consultar la política de privacidad de terceros aplicable y los términos de uso cuando se visite otros sitios web.

        p.title Seguridad.

        p.public-content_style Tomamos medidas de seguridad razonables para proteger contra la pérdida, el uso indebido o la alteración de datos personales, información de facturación, información del dispositivo y otra información que hemos recopilado. Aunque hacemos esfuerzos de buena fe para almacenar la información recopilada por y a través del Sitio en un entorno operativo seguro, no podemos garantizar que las medidas de seguridad que tomemos no sean penetradas o comprometidas, o que los datos personales permanecerán seguros en cualquier circunstancia. Además, si bien nos esforzamos por garantizar la integridad y seguridad de nuestra red y nuestros sistemas, no podemos garantizar que nuestras medidas de seguridad impidan que terceros piratas informáticos obtengan ilegalmente esta información.

        p.public-content_style El usuario de Space Guru conoce y acepta expresamente que Space Guru, a su exclusivo criterio, recabe, almacene y monitoree el intercambio de mensajes y correos electrónicos entre sus usuarios, efectuado dentro del servicio de alquiler dde ítems de Space Guru, con el objetivo de contribuir a la seguridad de las relaciones y comunicaciones en la comunidad.

        p.public-content_style Por ello, Space Guru no se hace responsable por interceptaciones ilegales o violación de sus sistemas o bases de datos por parte de personas no autorizadas. Space Gurú, tampoco se hace responsable por la indebida utilización de la información obtenida por esos medios.

        p.title Cambios a nuestra política de privacidad.

        p.public-content_style Esta Política de Privacidad entra en vigencia a partir de la fecha indicada en la parte superior de esta política. Tené en cuenta que podemos modificar esta Política de privacidad, publicaremos cualquier cambio en nuestro Sitio y los pondremos a disposición desde la App tan pronto como entre en vigencia. Actualizaremos la fecha de entrada en vigencia de la Política de privacidad cuando realicemos cambios en la misma. Al acceder o seguir accediendo al Sitio o a la App después de realizar dichos cambios a esta Política de privacidad, se considera que se han aceptado dichos cambios. 

        p.public-content_style Tené en cuenta que, en la medida permitida por la ley aplicable, nuestro uso de la información se rige por la Política de privacidad vigente en el momento en que usamos la información. Te recomendamos que revises periódicamente esta página para obtener la información más reciente sobre nuestras prácticas de privacidad.
