extends ./layout

block headerContent
    .header-public_content
        p.subtitle GUÍA DE ALMACENAMIENTO
        p.title Todo lo que necesitás saber.

block content
    .body-public_content

        p.title.text-center Guía de Almacenamiento
        p.public-content_style.text-center.custom-padding_style.pb-4 Queremos que tu experiencia con nosotros sea la mejor, por eso te detallamos algunos tips para que tengas en cuenta a la hora de guardar tus cosas en Space Guru. 
        
        p.title 1. ¿Qué requisitos existen para guardar tus ítems en Space Guru?
        p.public-content_style En Space Guru podés almacenar de todo siempre y cuando tus cosas cumplan con los siguientes requisitos:
        p.public-content_style.spec-content_style - Lo que guardes no debe encontrarse dentro en nuestro listado de ítems prohibidos.
        p.public-content_style.spec-content_style - Queda terminantemente prohibido guardar armas de fuego, líquidos, productos perecederos, flora y fauna, medicamentos, o artículos ilegales según las leyes locales o provinciales.
        p.public-content_style.spec-content_style - Si tenés algo que quieras guardar pero no estás seguro de que podamos hacerlo, avísanos. Estaremos dispuestos a ayudarte y asesorarte. Podés contactarnos por cualquiera de los siguientes medios: mail: hola@space.guru, whatsapp: +54 9 11 3988-4042 o teléfono: 011 5263-5754 dentro de nuestros horarios de atención.
        
        p.title 2. ¿Qué tipo de cosas están prohibidas para el almacenamiento con Space Guru?
        p.public-content_style Por la seguridad, la salud y el bienestar de nuestro personal, las instalaciones y las pertenencias almacenadas de todos nuestros usuarios, existen algunas limitaciones respecto del almacenamiento de ciertos tipos de artículos. 
        p.public-content_style Una buena manera de definir los artículos prohibidos es basándonos en lo siguiente: si no podés llevarlo en un avión, o si se lo considera ilegal según las leyes locales, es probable que no podamos aceptarlo. Los artículos prohibidos incluyen:
        p.public-content_style.spec-content_style - Alimentos u otros productos perecederos
        p.public-content_style.spec-content_style - Flora y/o fauna viva
        p.public-content_style.spec-content_style - Inflamables
        p.public-content_style.spec-content_style - Explosivos
        p.public-content_style.spec-content_style - Armas de fuego y municiones
        p.public-content_style.spec-content_style - Gas comprimido
        p.public-content_style.spec-content_style - Materiales venenosos
        p.public-content_style.spec-content_style - Materiales de riesgo de contaminación biológica
        p.public-content_style.spec-content_style - Residuos medicales
        p.public-content_style.spec-content_style - Artículos peligrosos o cortantes
        p.public-content_style.spec-content_style - Medicamentos en general
        p.public-content_style.spec-content_style - Sustancias y materiales ilegales
        p.public-content_style.spec-content_style - Líquidos, geles o aerosoles, incluido vinos y alcoholes
        p.public-content_style.spec-content_style - Cualquier artículo que requiera control de temperatura regulado

        p.public-content_style Tené en cuenta que las cajas cerradas están sujetas a estas mismas restricciones. En caso de sospecha acerca de una caja cerrada o sellada, se procederá a su devolución a tu cargo o se rechazará en el punto de retiro. Si tenés alguna pregunta acerca de esta política o querés preguntar sobre artículos específicos, no dudes en contactarnos a través del Centro de Ayuda.
        p.public-content_style Una vez que tus objetos fueron recibidos y están bajo custodia de Space Guru, las cajas cerradas podrían ser abiertas a discreción de nuestro equipo en los casos en los que se considere que éstas pueden contener artículos prohibidos (como alimentos, líquidos o aerosoles). Si dichos artículos se descubren en una caja cerrada, la devolución o eliminación de estos artículos estará sujeta a la aplicabilidad de un costo extra por esta eliminación o devolución.
        
        p.title 3. ¿Qué hace Space Guru con los artículos prohibidos?
        p.public-content_style Los artículos prohibidos que se registren entre las cosas enviadas para su almacenamiento con Space Guru serán separados en nuestro almacén y serán manipulados adecuadamente por los miembros del equipo de Space Guru. En la mayoría de los casos, notificaremos a los usuarios que no podemos almacenar un artículo(s) específico(s), y nos pondremos de acuerdo con el usuario para devolver los artículos o tomar la decisión sobre su finalidad de manera adecuada (por ejemplo si nos enviás por error un envase de producto de limpieza a la mitad, lo desecharemos en caso que no lo desees de vuelta).
        p.public-content_style Los artículos que presentan serios problemas de seguridad (como por ejemplo un pequeño tanque de propano para camping) no se podrán transportar de regreso al usuario, y los costos asociados con su manipulación / eliminación de forma segura estarán a cargo del cliente, y figurarán en su cuenta.
        
        p.title 4. ¿Space Guru permite el almacenamiento de cuchillos y otras cosas afiladas y puntiagudas?
        p.public-content_style En general, aceptamos almacenar los cuchillos tipo de chef, una colección de cuchillos de caza, las espadas tipo Samurai, pero, tenemos algunas condiciones explícitas y reglas importantes para la seguridad de nuestro equipo.
        p.public-content_style.spec-content_style - Todas las cuchillas y objetos punzantes deben ser separados de los otros objetos y empaquetados por separado.
        p.public-content_style.spec-content_style - El usuario debe notificar previamente al equipo de Space Guru sobre estos objetos. Se debe avisar al chofer dónde se encuentran esos artículos, para que él pueda manipularlos con cuidado.
        p.public-content_style.spec-content_style - Todas las cuchillas y brocas puntiagudas deben estar cubiertas de forma segura, en una funda apropiada, o deben estar protegidas de un contacto accidental. Nunca coloques objetos afilados en una caja o bolsa.
        
        p.title 5. Si accidentalmente envío un objeto prohibido a Space Guru, ¿me penalizan?
        p.public-content_style ¡Los errores suceden! A menos que intentes accidentalmente almacenar algo ilegal / explosivo / inflamable, no hay penalizaciones por enviar un artículo prohibido por error.
        
        p.title 6. ¿Puedo guardar mis objetos de valor?
        p.public-content_style Sí. Almacenar objetos de valor con Space Guru es una decisión que depende totalmente de vos. En general, se recomienda mantener artículos de alto valor en una caja de seguridad o en un lugar seguro en tu hogar; sin embargo, Space Guru está dispuesto, es competente y está bien equipado para mantener tus artículos seguros durante el almacenamiento. Para ayudarte con la decisión,  te sugerimos leer los detalles de nuestro programa de protección de artículos, el Seguro de Guardado de  Space Guru, para asegurarte de que estés satisfecho con lo que podemos ofrecer en caso de que algo ocurra.
        
        p.title 7. ¿Puedo enviar artículos directamente a Space Guru para el almacenamiento?
        p.public-content_style Siempre que los artículos enviados cumplan con nuestros requisitos de almacenamiento,  será un gusto recibir tus artículos. Para poder recepcionar los artículos primero debés coordinar un turno con un día y horario específicos. Podes solicitar tu turno por los siguientes medios: mail: hola@space.guru, whatsapp: +54 9 11 3988-4042 o teléfono: 011 5263-5754 dentro de nuestros horarios de atención.
        
        p.title 8. ¿Cómo debo embalar mis productos para su traslado y almacenamiento?
        p.public-content_style Te recomendamos prepararlos de la misma manera que harías en una mudanza normal:

        p.public-content_style.spec-content_style - Asegurate de que los artículos frágiles estén adecuadamente protegidos, bien embalados y en contenedores lo suficientemente resistentes como para soportar el traslado. <span class="label">Importante:</span> señalar los frágiles así nuestros Gurúes tienen mayor cuidado al manipularlos.
        p.public-content_style.spec-content_style - Si tenés artículos punzantes, cortantes y/o afilados deben estar embalados de manera segura, de forma que sea imposible que la protección se salga accidentalmente. Debés avisarle al chofer en donde se encuentran estas cosas.

        p.title 9. ¿Qué debo tener en cuenta a la hora de guardar electrodomésticos?
        p.public-content_style Para la correcta conservación de tus artículos, los objetos del resto de los usuarios y la preservación de nuestro depósito, es muy importante que en caso de que guardes cocinas, heladeras, microondas, hornos eléctricos, ollas, vajilla, etc. tus cosas cumplan los siguientes requisitos:
        p.public-content_style Deben estar limpios: sin restos de comida.
        p.public-content_style Deben estar secos: sin líquidos, totalmente libres de humedad.


