extends ./layout

block headerContent
    .header-public_content
        p.subtitle TÉRMINOS Y CONDICIONES
        p.title Todo claro para que disfrutes de
        p.title Space Guru con total confianza.

block content
    .body-public_content
        p.title.text-center.pb-4 ¡Bienvenidos a Space Guru!

        p.title.text-center.pb-4 Estos son nuestros Términos y Condiciones

        p.public-content_style.text-italic Última actualización el 18 de junio de 2020

        p.title.text-underline IMPORTANTE

        p.public-content_style Al bajar nuestra aplicación móvil (“la app” de Space Guru), utilizar el cotizador online en el sitio web y el cotizador por whatsapp (cuenta corporativa, gestionada por el software Sirena) con la finalidad de contratar nuestros servicios, usted acepta nuestros Términos y Condiciones, que será informado en cada canal de contratación, haciendo un clic en la casilla de verificación (checkbox) “Aceptar los Términos y Condiciones”.

        p.public-content_style Estos Términos y Condiciones encuadran las cláusulas de nuestros Contrato. También encuadran la usabilidad (del "Usuario"), del sitio web de Space Guru (www.space.guru, el "sitio web") y “la app” a través de la cual Space Guru SAS (“Nosotros", “La Empresa”) ofrece el almacenamiento y rápido acceso a sus “pertenencias” además de otras funcionalidades y servicios relacionados. 

        p.public-content_style En caso de que el individuo que acepte este acuerdo lo haga en representación de una compañía o de otra entidad jurídica, el mismo declara que posee la autoridad requerida para vincular a dicha entidad, sus afiliados y todos los usuarios a Space Guru SAS y brindar el acceso a dichos usuarios a nuestros servicios a través de la cuenta de dicha entidad. Usted entiende y acepta que su relación con la empresa, se limita a ser usuario del servicio y no un empleado, agente o socio de la empresa por ninguna razón y que actúa exclusivamente por su propio nombre y beneficio y no en nombre de o para el beneficio de Space Guru.

        p.title 1. CONTRATO DE ALMACENAMIENTO
        p.public-content_style Este CONTRATO DE DEPÓSITO (el “CONTRATO”) se celebra en la Ciudad de Buenos Aires, entre: 1) Space Guru SAS (la “EMPRESA”), número de CUIT 30-71623343-6 con domicilio en avenida Angel Gallardo 551, Capital Federal, en adelante en esta sección 1 el "DEPOSITARIO", por una parte; y 2) Usted (número de DNI o CUIT informado por nuestros canales de contacto o al registrarse en nuestra app o sitio web así como la dirección), en adelante el "DEPOSITANTE", por otra parte, de conformidad con las siguientes cláusulas y estipulaciones:

        p.public-content_style <span class="label">PRIMERA:</span> Que el DEPOSITANTE en calidad de poseedor (a), entrega a la EMPRESA para su guarda y custodia en guardamuebles, los muebles o bienes cuyo número, características y estado se detallan en la relación-inventario que queda unida a este CONTRATO como parte integrante del mismo. EL DEPOSITANTE declara tener conocimiento de sus obligaciones respecto a la conservación, guarda y custodia de tales. 

        p.public-content_style <span class="label">SEGUNDA:</span> La duración de este contrato se estipula por un plazo mínimo de 3 meses, transcurrido el cual se entenderá tácitamente prorrogado mensualmente a menos que cualquiera de las partes comunique a la otra, por escrito, con 10 días de antelación, su voluntad de rescindirlo. Las obligaciones que el DEPOSITANTE asume según este CONTRATO se extenderán hasta la fecha de efectiva de entrega de los muebles y/o bienes.

        p.public-content_style <span class="label">TERCERA:</span> El DEPOSITANTE declara ser legítimo poseedor de los objetos entregados, manifestando que no están afectos a ninguna obligación o garantía, no hallándose embargados ni gravados judicial o extrajudicialmente, respondiendo de evicción y saneamiento, aún en el supuesto de depósito necesario o secuestro judicial de los bienes. Asimismo, se compromete a avisar de forma fehaciente y con antelación suficiente al DEPOSITARIO de cualquier cuestión que pueda sobrevenir respecto a la propiedad, posesión o pignoración de las mercancías depositadas, y en general de todo lo que pueda afectar a la titularidad y disposición sobre las mismas.

        p.public-content_style <span class="label">CUARTA:</span> El costo de cualquier trabajo de descarga, entrega, recepción, carga, etc. vinculados a las cosas depositadas en el guardamuebles, será facturado al DEPOSITANTE en forma independiente, respecto de la facturación mensual. Asimismo, cualquier operación que, a petición del DEPOSITANTE, se haya de realizar dentro del guardamuebles será ejecutada por operarios de la empresa y dentro de las horas señaladas como jornada legal, siendo todos los gastos, incluida la mano de obra, por cuenta del depositante.  

        p.public-content_style <span class="label">QUINTA:</span> EL DEPOSITANTE se compromete a abonar mensualmente AL DEPOSITARIO la tarifa negociada mediante cotización online, la cotización por el canal de whatsapp corporativo, correo electrónico o la app, en concepto de gastos de guarda y justa contraprestación a sus servicios de depósito y custodia de los bienes depositados. En caso de que el cliente no cumple con pagar tres (3) mensualidades seguidos, EL DEPOSITARIO tendrá la facultad de dar por dar rescindido el contrato. En tal caso, EL DEPOSITARIO tendrá derecho a retener en prenda las cosas hasta la completa satisfacción de tal obligación, según lo dispuesto 2219 y siguientes del Código Civil y Comercial de la Nación. 

        p.public-content_style <span class="label">SEXTA:</span> En caso de optar el DEPOSITANTE, por el Seguro de Guardado, los muebles y objetos depositados, mediante el pago de las mensualidades y demás gastos por cuenta del DEPOSITANTE quedan asegurados contra los riesgos de extravío, incendio, robo, inundaciones, goteras y roturas por parte de la EMPRESA con un capital asegurado por el valor mencionado en el Seguro de Guardado (link). El valor del ítem asegurado por nuestro Seguro de Guardado será definido por la EMPRESA y a su exclusivo criterio.

        p.public-content_style <span class="label">SÉPTIMA:</span> La EMPRESA se reserva el derecho de cambiar de local los muebles y objetos cuando por necesidades del servicio, obras o cualquier caso, fuera necesario hacerlo a juicio de la empresa sin derecho a reclamación. Bastado por ello en la conformidad de esta cláusula del CONTRATO.

        p.public-content_style <span class="label">OCTAVA:</span> Las facturas se emitirán por meses anticipados y las modalidades de pago son en efectivo (mediante transferencia bancaria) y todos los medios de pago de la procesadora de pagos Mercado Pago y por tarjeta de crédito en forma de débito automático, debiendo hacerse efectivas por el DEPOSITANTE antes del día 10 del mes correspondiente.

        p.public-content_style <span class="label">NOVENA:</span> El monto del servicio de guardado pactado será revisado, según el índice de precios al consumo referidos al conjunto nacional publicado por el INDEC (categoría Bienes y Servicios Varios), fijándose como base el valor del metro cúbico señalado en en el momento de la negociación entre EL DEPOSITANTE y EL DEPOSITARIO o en el cotizador online. Estas redeterminaciones de precios serán automáticas y notificadas previamente. Si no es de su conformidad que se entenderá tácita, deberá retirar las cosas de este guardamuebles en el plazo máximo de un mes, contados desde la notificación.

        p.public-content_style <span class="label">DÉCIMA:</span> EL DEPOSITARIO responde ante el propietario de las cosas (EL DEPOSITANTE) o quien actúe en su representación, que consta inventariadas, así como de su devolución, de la misma forma que se recibieron (cerrados y clavados o precintados), salvo lo dispuesto en las cláusulas siguientes.

        p.public-content_style <span class="label">DECIMOPRIMERA:</span> En ningún caso se admitirán armas, sustancias inflamables o tóxicas, explosivos, ácidos, líquidos, ni materia alguna que pueda sufrir descomposición o causar daños o perjuicios a otros objetos también guardados, siendo responsable su propietario EL DEPOSITARIO o quien actúe en su representación de los daños que se puedan producir por incumplimiento de lo expuesto, al ocultar su contenido o faltar a la verdad en la declaración de los ítems.

        p.public-content_style <span class="label">DECIMOSEGUNDA:</span> La EMPRESA no se hace responsable del valor especial o de afección que puedan tener determinadas cosas como cuadros, esculturas, dibujos y otros objetos artísticos, joyas, dinero, moldes o planos, escrituras o copias, letras de cambio, pagarés, cheques, billetes de banco, títulos de propiedad, valores, contratos u otros documentos, etc. 

        p.public-content_style <span class="label">DECIMOTERCERA:</span> Tanto para la entrada como para la salida de cualquier objeto del guardamuebles, será necesario avisar con 10 días laborables de anticipación al DEPOSITARIO, siendo todos los gastos que por ese u otro concepto se originen de cuenta exclusiva del DEPOSITANTE. 

        p.public-content_style <span class="label">DECIMOCUARTA:</span> El DEPOSITANTE fija como domicilio para todo tipo de avisos, modificaciones y requerimientos derivados del presente contrato el que figura en su comprobante de domicilio informado al momento de la contratación de nuestros servicios. Cualquier cambio de domicilio deberá notificar mediante algún medio que deje indudable constancia de la comunicación a la empresa.

        p.public-content_style <span class="label">DECIMOQUINTA:</span> Las partes intervinientes acuerdan libre y voluntariamente someter todo litigio, discrepancia o cuestión relacionada con la aplicación, ejecución o interpretación del presente contrato a la jurisdicción y competencia de los tribunales ordinarios de la Ciudad Autónoma de Buenos Aires, renunciando a cualquier otro que pudiera corresponder por cualquier causa. 

        p.title 2. SERVICIOS
        p.public-content_style A través de nuestra web y app, ofrecemos:

        p.public-content_style.spec-content_style <span class="label">- Servicio de almacenamiento y transporte:</span> Space Guru realiza el retiro, transporte y almacenamiento de sus pertenencias (sus "Pertenencias"). Las mismas, deberán ser embaladas según las normas y requisitos estipulados (en la sección 4 B) en la ubicación donde especifique por escrito el usuario (la “ubicación especificada”)..

        p.public-content_style.spec-content_style <span class="label">- Servicio online:</span> a través del cual fotografiamos sus pertenencias, las organizamos y subimos las fotografías de sus pertenencias para que estén disponibles para su visualización en nuestra web y aplicación móvil, así usted puede acceder fácilmente a sus pertenencias almacenadas en nuestro depósito. 

        p.public-content_style.spec-content_style <span class="label">- Servicio de alquiler de ítems:</span> es nuestro principal servicio de economía circular y a través de nuestra app o webapp, damos la posibilidad a los usuarios de Space Guru de poner en alquiler sus pertenencias o alquilar los ítems de otros usuarios. Es un servicio intermediado por Space Guru y como agente de cobranza, retenemos una comisión por el uso de estos servicios por parte de los usuarios.

        p.public-content_style.spec-content_style <span class="label">- Otros servicios de Economía Circular:</span> Space Guru se preocupa por el ciclo de vida de los ítems y la finalidad que el usuario quiera darles. Por esto ofrecemos otros tipos de servicios como la finalización ecológica del ciclo de vida del ítem (“disposición final”), intermediando con instituciones y empresas certificadas; así como del reciclaje de todo tipo de material y donaciones. Cobramos una tarifa que es cotizable por volumen, tipo de ítem y finalidad.

        p.public-content_style El servicio de almacenamiento, de transporte, el servicio online, el servicio de alquiler de ítems, y los servicios de economía circular a los que se acceden a través la web y la app se denominan colectivamente "Servicios". Estos Términos también rigen el uso de los Servicios. Al acceder o utilizarlos, usted reconoce que ha leído, entendido y acepta estar sujeto a estos Términos, que acepta la recopilación, uso y divulgación de su información como se describe en nuestra <a href="#">Política de privacidad y seguridad</a> (link), (la "Política de privacidad") que se incorpora aquí como referencia. 

        p.public-content_style Estos Términos se aplican a todos los visitantes, usuarios y otras personas que accedan a los Servicios, ya sea usted un usuario registrado o no en nuestro sitioweb.

        p.title 3. USO DE LOS SERVICIOS
        p.title A.¿Quiénes pueden usar los servicios? 
        p.public-content_style Podrán utilizar los servicios todos aquellos individuos que puedan firmar un contrato legalmente vinculante con Space Guru, y solo de conformidad con estos Términos y todas las leyes, normas y reglamentaciones locales, estatales, nacionales aplicables. Al registrarse para usar los Servicios (incluso al descargar o usar la app), usted declara y garantiza que tiene 18 años de edad o más. Caso contrario, queda prohibido el uso de cualquiera de nuestros servicios. Los servicios no están disponibles para ningún usuario eliminado previamente por Space Guru. 

        p.title B.Cuentas 
        p.public-content_style Para utilizar nuestros servicios, usted deberá crear una cuenta que incluya un nombre de usuario y contraseñas únicos. Usted será responsable de mantener la seguridad de su cuenta de usuario y de todas las actividades que se lleven a cabo en virtud de la cuenta y cualquier otra acción que se tome en relación con su cuenta. Así también, acepta notificarnos inmediatamente sobre cualquier uso no autorizado de su contraseña y/o cuenta, o de cualquier otra violación de seguridad de la que tenga conocimiento. 

        p.public-content_style Space Guru no será responsable de las pérdidas, responsabilidades o daños que surjan de un uso no autorizado de su computadora, dispositivo móvil o cualquier otra tecnología. Usted nos declara y garantiza que: posee la autoridad para comprometerse (o cualquier organización u otra entidad en cuyo nombre pretenda actuar) con estos Términos; su utilización de los Servicios no infringe ni malversa los derechos de propiedad intelectual de ningún tercero, su utilización de los servicios cumplirá con todas las leyes, normas y reglamentos aplicables y con todas nuestras políticas.

        p.title 4. SERVICIO DE GUARDADO

        p.title A. Descripción.
        p.public-content_style El servicio de guardado está sujeto a estos Términos y otras políticas de Space Guru, y sujeto al pago de todas las tarifas aplicables. Space Guru deberá: 

        p.public-content_style.spec-content_style i. Retirar las pertenencias que haya preparado de acuerdo con estos términos desde la ubicación especificada en el caso que el usuario, solicite el servicio de transporte.
        p.public-content_style.spec-content_style ii. Transportar sus pertenencias hacia nuestras instalaciones para su almacenamiento, en caso de que haya contratado el servicio de transporte.
        p.public-content_style.spec-content_style iii. Devolver sus pertenencias a la ubicación especificada, previa solicitud, en caso de que haya contratado el servicio de transporte.
        p.public-content_style.spec-content_style iv. Con cita previa, Space Guru permite a los usuarios transportar sus pertenencias por sus medios y depositarlas en nuestros almacén.

        p.public-content_style Space Guru no entregará ni devolverá sus pertenencias a una dirección que no sea debidamente registrada como “ubicación especificada”, a menos que aceptemos hacerlo por escrito y de manera excepcional. 

        p.public-content_style Los tiempos de entrega, recolección y devolución son sólo estimados y de carácter informativo. Space Guru no será responsable de ningún retraso en la entrega, recolección o proceso de devolución. 

        p.public-content_style Space Guru puede cancelar o posponer cualquier entrega, recolección o devolución de pertenencias en aquellos casos en lo que Space Guru crea, a su exclusivo criterio, que puede poner en peligro a cualquier empleado, agente, contratista u otro individuo de Space Guru debido a condiciones climáticas adversas u otros eventos externos a nuestro control razonable. 

        p.public-content_style Usted reconoce y acepta que Space Guru no será responsable de: 

        p.public-content_style.spec-content_style i. Desmontar o ensamblar cualquier unidad, sistema o mobiliario (incluídos aquellos en su embalaje original).
        p.public-content_style.spec-content_style ii. Desconectar, reconectar, desmontar o volver a armar aparatos, artefactos, accesorios o equipos.
        p.public-content_style.spec-content_style iii. Embalar sus pertenencias, a menos que se acuerde expresamente con Space Guru. 

        p.title B.  Embalaje de sus pertenencias. 
        p.public-content_style Usted deberá empacar sus pertenencias en bolsas de plástico de alta calidad, stretch (film), plástico burbuja, cajas o contenedores similares que cumplan con los requisitos especificados más abajo sean los proporcionados por usted mismo o Space Guru, dominado “Contenedor”. 

        p.public-content_style Todos los contenedores provistos por Space Guru son propiedad exclusiva. Todos los contenedores deben estar cerrados en su totalidad y de forma segura.

        p.public-content_style En caso de duda o consulta sobre este punto puede enviar un correo electrónico a hola@space.guru

        p.public-content_style Si tiene la intención de almacenar objetos que son demasiado grandes, pesados o excedan en volumen la capacidad de un contenedor, podrá dejarlos para la recolección en la ubicación especificada sin contenedor. 

        p.public-content_style Tenga en cuenta que sus pertenencias deberán estar embaladas de forma segura (por ejemplo, en una funda rígida o acolchada). En caso de incumplimiento de los requisitos anteriores, podemos, a nuestro exclusivo criterio, negarnos a aceptar cualquiera de sus pertenencias contemplando que el traslado de las mismas se vea limitado o peligre la seguridad de quien deba moverlas o transportarlas. Así también Space Guru, se reserva el derecho de aceptar el traslado de pertenencias que considere que estén en condiciones demasiado vulnerables a daños según la manera en la las pertenencias fueron embaladas. 

        p.title C.  Las pertenencias. 
        p.public-content_style Usted declara y garantiza que posee las pertenencias o que de otro modo tiene el derecho y la autoridad para almacenar y usar las pertenencias de acuerdo con estos Términos. 

        p.public-content_style Las pertenencias no deberán incluir, y usted no deberá almacenar, ningún artículo prohibido mencionado en la lista de los “Artículos Prohibidos” en cualquier contenedor o de otra manera en relación a los requisitos de la <a href="#">Guía de Almacenamiento</a> (link). 

        p.public-content_style Space Guru o sus contratistas pueden, en cualquier momento sin notificarlo, abrir cualquier contenedor u otro paquete para inspeccionar el contenido siempre que Space Guru: 
        p.public-content_style Crea, a su exclusivo criterio, que el contenedor o el empaque pueden contener cualquier pertenencia prohibida.
        p.public-content_style Sea solicitado por la policía o fuerza pública, los servicios de bomberos, las autoridades locales o por procedimientos legales; o se considere necesario, a nuestra entera discreción, una emergencia o para evitar lesiones o daños a personas o propiedades. 

        p.public-content_style Space Guru podrá negarse a almacenar cualquier pertenencia, o podrá devolverle cualquier pertenencia, a su propio costo, en cualquier momento, si, a su exclusivo criterio, el almacenamiento temporal o continuo de las pertenencias puede representar un riesgo para la seguridad de cualquier persona, la seguridad del sitio de almacenamiento o a cualquier otro bien almacenado en nuestras instalaciones.

        p.title D.  Las responsabilidades.
        p.public-content_style Usted será el único responsable de: 

        p.public-content_style.spec-content_style i. Cumplir con las leyes, reglas y regulaciones locales, provinciales y nacionales con respecto al almacenamiento de los artículos.
        p.public-content_style.spec-content_style ii. Asegurarse de que las pertenencias hayan sido empacadas de forma segura en contenedores (o embaladas como se describe anteriormente) para que puedan ser transportadas de manera segura y no causar lesiones o daños o sufrir lesiones o daños a sus pertenencias, empleados, agentes, contratistas, socios comerciales, otros bienes u otras personas, ya sea mediante la difusión de la humedad, la infestación, la fuga o el escape de humos o sustancias o de otra forma; y reembolsar a Space Guru en su totalidad un monto igual a todos los daños, responsabilidades, costos, reclamos y gastos que Space Guru pueda incurrir como resultado de su uso del servicio de guardado o cualquier incumplimiento por su parte de estos Términos.

        p.title E. El derecho de Space Guru a retener o deshacerse de pertenencias. 
        p.public-content_style Usted es responsable del pago puntual de sus tarifas y de garantizar que su suscripción no caduque. Space Guru tendrá el derecho de retener y, en última instancia, disponer de algunas o todas las pertenencias en aquellos casos donde:

        p.public-content_style.spec-content_style i. Usted no abone ninguna tarifa aplicable ni ningún otro pago adeudado en virtud de estos Términos.
        p.public-content_style.spec-content_style ii. Usted abandone sus pertenencias, como se describe a continuación. 
        p.public-content_style.spec-content_style iii. Usted será responsable de todos los costos de almacenamiento y otros costos asociados, incurridos razonablemente por Space Guru mientras retiene o se deshace de los pertenencias. 
        p.public-content_style.spec-content_style iv. Space Guru le proporcionará un aviso de abandono por carta documento a los 50 días, en el que se le pedirá que abone todos los montos adeudados y usted. podrá ponerse en contacto con Space Guru para organizar el reenvío de sus pertenencias a la ubicación especificada. Si al vencimiento del plazo de notificación de 50 días, el saldo no hubiera sido abonado en su totalidad, Space Guru podrá disponer de algunas o todas las pertenencias, mediante su venta o a través del método que considere pertinente. Si, bajo el criterio de Space Guru, las pertenencias no pudieran venderse a un precio razonable o en absoluto (por cualquier motivo), o a pesar de los esfuerzos de Space Guru, los mismos no se vendieran, usted autoriza a Space Guru a tratarlas como abandonadas, destruirlas o reciclarlas.

        p.public-content_style Usted será responsable de todos los costos incurridos por Space Guru en relación con la disposición o eliminación de sus pertenencias. Si Space Guru recibe dinero por la venta de las pertenencias, las ganancias netas de la venta se acreditarán en su cuenta y Space Guru le pagará el monto excedente sin intereses, menos los cargos administrativos de Space Guru. 

        p.public-content_style Space Guru no tiene ninguna responsabilidad en virtud del presente de compensarle por las pertenencias dispuestas de acuerdo con estos Términos, a excepción de lo expresamente establecido en la frase anterior. 

        p.title F. Seguro de guardado.
        p.public-content_style Space Guru se compromete a proporcionarle una indemnización limitada con respecto a sus pertenencias, sujeto a ciertas condiciones, tal como se establece en nuestro <a href="#">Seguro de Guardado</a> disponible en el sitio web.


        p.title 5. SERVICIO DE ALQUILER DE ÍTEMS
        p.title A. Los servicios.
        p.public-content_style Sujeto al cumplimiento de estos Términos, incluido, entre otros, el pago de todas las tarifas de su cuenta, Space Guru le proporcionará a usted, propietario de una o más pertenencias (“el propietario” o “el propietario del alquiler”), la funcionalidad mediante la cual podrá poner en alquiler temporalmente algunas de sus pertenencias a otro usuario de su elección ("inquilino"), sujeto al pago oportuno por parte de este inquilino los importes de alquiler (como se define a continuación), de la siguiente manera:

        p.public-content_style El propietario puede poner a disposición del público el alquiler de sus pertenencias designadas a través de los Servicios. Cualquier usuario, que haya aceptado estos Términos, puede decidir alquilar los artículos publicados para alquiler, iniciando sesión en su cuenta de servicios (o creando una cuenta) y respondiendo al propietario a través del servicio de alquiler de la app, webapp desde el sitio web.
        p.title B. Comisiones.
        p.public-content_style El propietario que acepta la oferta propuesta de alquilar uno o varios de sus ítems provisoriamente por parte de un inquilino, acepta que Space Guru por la intermediación de los servicios alquiler de sus pertenencias, retenga una comisión del 30% sobre el valor total de los costos e importes del alquiler. El valor de esta comisión podrá ser actualizado por Space Guru en cualquier momento y será comunicado anteriormente a sus usuarios.
        p.title C. Contrato de Alquiler
        p.public-content_style El contrato de alquiler establece los términos y condiciones que se le aplicarán al momento que el propietario pone a disposición para alquiler sus pertenencias utilizando el servicio de alquiler, así como también a los inquilinos, que alquilan los ítems. El <a href="#">Contrato de Alquiler de Ítems</a> (link) se adiciona a estos Términos y se incorpora aquí como referencia.

        p.title 6. TARIFAS Y PRECIOS DE LOS SERVICIOS
        p.public-content_style Al utilizar los Servicios de Space Guru, el usuario acepta nuestros Términos de fijación de precios y de pago, ya que los mismos podrán ser actualizados bajo nuestro exclusivo criterio. 

        p.public-content_style Space Guru podrá agregar nuevos servicios por tarifas y cargos adicionales, o modificar precios y cargos por servicios existentes, en cualquier momento a su exclusivo criterio. Cualquier cambio en nuestros precios o condiciones de pago entrarán en vigencia en el ciclo de facturación posterior al aviso de dicho cambio según lo establecido en estos Términos. 

        p.public-content_style Al aceptar estos Términos, usted nos otorga (o un procesador de pagos externo que trabaja en nuestro nombre) permiso para cargar su tarjeta de crédito, tarjeta de débito u otros métodos de pago aprobados por los importes que adeuda a Space Guru. Dependiendo de la transacción, podremos cobrar una sola vez, de manera automática o manual y/o de forma recurrente.

        p.public-content_style Usted deberá abonar los impuestos aplicables, en caso que los hubiera, relacionados con tales compras, transacciones u otras interacciones de transacciones monetarias. 

        p.public-content_style Usted declara y garantiza que usted posee todos los derechos necesarios relacionados con el instrumento de pago proporcionado para autorizar a Space Guru a realizar dichos cargos. 

        p.public-content_style Las tarifas y abonos aplicables a su cuenta podrán estar sujetas a modificaciones ocasionalmente de conformidad con el aviso (que puede enviarse por correo electrónico) proporcionado por nosotros al menos treinta (30) días antes de la fecha de pago para la cual la modificación sería eficaz. Usted podrá cancelar su cuenta en cualquier momento según se establece a continuación en caso de que no aceptara la modificación de las tarifas. 

        p.public-content_style Todas las tarifas deberán abonarse en pesos argentinos (u otras divisas que la compañía pueda aceptar ocasionalmente, tal como se indica en el momento del pago) y las mismas no serán reembolsables. 

        p.public-content_style Ud. podrá cancelar su cuenta en cualquier momento mediante el contacto de soporte en hola@space.guru. 

        p.public-content_style Nota: para realizar la cancelación de su cuenta con éxito usted necesitará retirar todas las pertenencias de nuestras instalaciones o brindar a Space Guru la autorización pertinente para re-ubicar o destruir la pertenencias. Caso contrario, se continuará con la emisión de los cargos de almacenamiento. En caso de que la cancelación suceda en en base a lo anteriormente mencionado, ud podrá hacer uso de su cuenta hasta el final del mes de la solicitud de baja. A efectos de que no se carguen cuotas de alquiler recurrentes en su cuenta, ud. deberá cancelar la misma de acuerdo con lo mencionado con un plazo no menor a treinta (30) días previos. 

        p.title 7. TERMINACIÓN
        p.public-content_style Puede rescindir estos Términos en cualquier momento notificándonos al respecto, remitiendo un correo electrónico a hola@space.guru o contactando con nuestro servicio de atención al cliente por cualquiera de sus canales de atención.

        p.public-content_style Una vez que haya pagado todas las tarifas y gastos adeudados en su cuenta, Space Guru entregará sus pertenencias a la ubicación especificada dentro de un tiempo razonable. 

        p.public-content_style La responsabilidad de Space Guru en relación a sus pertenencias finaliza al momento de la entrega de las mismas en la ubicación especificada. En caso de que transcurridos los 45 días posteriores a la terminación de estos Términos y por alguna razón no realiza los arreglos para la entrega de todas sus pertenencias, entonces Space Guru podrá procesar las mismas según lo establecido en la sección 6 de este Contrato .

