.contentTitle {
  margin: 20px 10% 75px 10%; }
  @media (max-width: 576px) {
    .contentTitle {
      margin: 10px 5% 45px 5%; } }

.contentBannerTitle {
  color: #0F0E31;
  text-align: center;
  font-size: 30px;
  line-height: 39px; }

.landingSecond {
  margin-left: 0 !important; }
  .landingSecond .left {
    padding-left: 5%; }
  @media (max-width: 576px) {
    .landingSecond {
      flex-wrap: wrap-reverse !important; } }

.post {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 140px;
  margin-left: 10%; }
  .post:last-child {
    margin-left: 0;
    margin-right: 10%; }
    @media (max-width: 576px) {
      .post:last-child {
        margin-bottom: 50px; } }
    .post:last-child .left {
      padding-left: 10%; }
  .post img {
    width: 100%; }
  .post .right {
    width: 50%; }
  .post .left {
    width: 50%; }
    @media (max-width: 576px) {
      .post .left .postContent {
        margin-left: 30px !important;
        padding-right: 5% !important;
        margin-top: 100px; } }
  .post p {
    color: #0F0E31;
    font-weight: bold;
    font-size: 24px;
    line-height: 31px; }
    @media (max-width: 576px) {
      .post p {
        font-size: 18px; } }
  .post .postDes {
    color: #515070;
    font-size: 20px;
    line-height: 26px; }
    @media (max-width: 576px) {
      .post .postDes {
        font-size: 14px; } }
  .post .number p {
    font-weight: bold;
    font-size: 200px;
    line-height: 219px;
    color: #F5F5FB; }
  @media (max-width: 576px) {
    .post {
      margin-bottom: 60px; }
      .post .left {
        width: 100%; }
      .post .right {
        width: 100%; } }

.onlineBtn {
  margin-bottom: 100px;
  text-align: center; }
  .onlineBtn .online-btn_Title {
    font-size: 24px;
    line-height: 31px;
    text-align: center;
    color: #0F0E31; }

.btn-style_sample {
  background-color: #5D58F7;
  padding: 12.5px 44px;
  border-radius: 3px;
  color: white;
  border: none; }

.service {
  background-color: #F5F5FB;
  padding: 100px 10%; }
  .service .serviceDes {
    font-size: 30px;
    color: #0F0E31;
    line-height: 39px;
    margin-bottom: 40px; }
    @media (max-width: 768px) {
      .service .serviceDes {
        font-size: 26px; } }
  .service .secureType {
    margin-top: 30px;
    color: #5D58F7;
    display: flex;
    align-items: center; }
    @media (max-width: 1024px) {
      .service .secureType {
        margin-bottom: 30px; } }
    .service .secureType span:last-child {
      margin-left: 5px; }
  .service .service-icon img {
    margin-bottom: 20px; }
  .service .service-title {
    color: black;
    font-weight: bold; }
  @media (max-width: 576px) {
    .service {
      padding: 40px 5%; } }

.rent-service {
  padding: 100px 10%; }
  .rent-service .btn-landing-2 {
    margin-top: 25px; }
  .rent-service .s-landing-2-rent {
    margin-top: 10px; }
    @media (max-width: 576px) {
      .rent-service .s-landing-2-rent {
        margin-top: 30px; } }
  .rent-service .rent-content {
    background-image: url(/images/shape-desktop.png);
    height: 270px;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding: 5%; }
    @media (max-width: 576px) {
      .rent-service .rent-content {
        background-image: url(/images/shape-mobile.png);
        height: 360px;
        padding: 10%; } }
    .rent-service .rent-content .rent-content_title {
      font-size: 30px;
      line-height: 39px;
      text-align: center;
      letter-spacing: -0.01em;
      color: #FFFFFF; }
      .rent-service .rent-content .rent-content_title .subcontent {
        font-size: 27px; }
        @media (max-width: 576px) {
          .rent-service .rent-content .rent-content_title .subcontent {
            font-size: 18px; } }
      @media (max-width: 576px) {
        .rent-service .rent-content .rent-content_title {
          font-size: 25px;
          line-height: 34px; } }
  @media (max-width: 576px) {
    .rent-service {
      padding: 40px 3%; } }

.round {
  height: 286px;
  width: 100%;
  clip-path: polygon(100% 0, 100% 78%, 81% 100%, 0 100%, 0 100%, 0 0);
  border-radius: 6px 6px 90px 6px; }

.s-landing {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-left: 10%; }
  .s-landing:last-child {
    margin-left: 0;
    margin-right: 10%; }
    @media (max-width: 576px) {
      .s-landing:last-child {
        margin-bottom: 50px; } }
    .s-landing:last-child .left {
      padding-left: 10%; }
  .s-landing img {
    width: 100%; }
  .s-landing .right {
    width: 50%; }
  .s-landing .left {
    width: 50%; }
    .s-landing .left .s-rent_title {
      text-align: left;
      color: #0F0E31; }
      .s-landing .left .s-rent_title .category {
        font-weight: bold;
        font-size: 16px;
        line-height: 21px;
        margin-bottom: 30px; }
      .s-landing .left .s-rent_title .title {
        font-size: 30px;
        line-height: 39px;
        margin-bottom: 30px; }
      .s-landing .left .s-rent_title .subtitle {
        font-size: 26px;
        line-height: 34px;
        margin-bottom: 50px; }
  @media (max-width: 576px) {
    .s-landing {
      margin-bottom: 60px;
      margin-left: 5%; }
      .s-landing .left {
        width: 100%; }
      .s-landing .right {
        width: 100%; } }
  .s-landing .secureType {
    margin: 0;
    margin-left: 20px;
    color: #5D58F7;
    display: flex;
    align-items: center; }
    @media (max-width: 1024px) {
      .s-landing .secureType {
        margin-left: 0px;
        margin-top: 30px;
        margin-bottom: 30px; } }
    .s-landing .secureType span:last-child {
      margin-left: 5px; }
  .s-landing .s-landing_diagram .diagram-step {
    display: flex;
    align-items: center; }
    .s-landing .s-landing_diagram .diagram-step img {
      width: 44px;
      height: 44px; }
    .s-landing .s-landing_diagram .diagram-step .diag-title_style {
      font-weight: bold;
      color: #0F0E31;
      margin: 0;
      margin-left: 20px; }
      @media (max-width: 576px) {
        .s-landing .s-landing_diagram .diagram-step .diag-title_style {
          font-size: 16px; } }
  .s-landing .s-landing_diagram .diagram-step_divider {
    margin-left: 21.5px; }
    .s-landing .s-landing_diagram .diagram-step_divider img {
      width: 1.5px; }
  @media (max-width: 576px) {
    .s-landing .s-landing_diagram {
      margin-bottom: 30px; } }

.s-landing-large_title {
  text-align: right;
  padding: 20px 10%; }
  .s-landing-large_title p {
    font-weight: bold;
    font-size: 168px;
    line-height: 184px;
    letter-spacing: -0.01em;
    color: #F5F5FB; }
  @media (max-width: 1024px) {
    .s-landing-large_title {
      display: none; } }

@media (max-width: 1024px) {
  .contentBannerTitle {
    font-size: 28px; } }

@media (max-width: 576px) {
  .contentBannerTitle {
    font-size: 22px; }
  .post .left {
    display: flex; }
  .post .landingFirst {
    margin-left: 5%;
    margin-top: 40px; }
    .post .landingFirst .left {
      display: flex;
      margin-left: 5%;
      width: unset; }
    .post .landingFirst .right {
      width: unset; }
  .post .landingSecond {
    margin-right: 0 !important;
    margin-top: 40px;
    flex-wrap: wrap-reverse; }
    .post .landingSecond .left {
      display: flex;
      margin-right: 5%;
      width: unset;
      padding-left: 0 !important; }
    .post .landingSecond .right {
      width: unset; }
  .s-landing .landingFirst {
    margin-left: 5%;
    margin-top: 40px; }
    .s-landing .landingFirst .left {
      margin-left: 5%;
      width: unset; }
    .s-landing .landingFirst .right {
      width: unset; }
  .s-landing .landingSecond .left {
    margin-right: 5%;
    width: unset;
    padding-left: 0 !important; }
  .s-landing .landingSecond .right {
    width: unset; } }

.t-landing_content .t-landing_banner {
  padding: 0 10%;
  margin-bottom: 3em; }
  .t-landing_content .t-landing_banner .landing-banner_content .landing-banner_title {
    font-weight: 500;
    font-size: 44px;
    line-height: 48px;
    color: #0F0E31;
    margin-bottom: 30px; }
    @media (max-width: 1024px) {
      .t-landing_content .t-landing_banner .landing-banner_content .landing-banner_title {
        font-size: 30px; } }
    @media (max-width: 768px) {
      .t-landing_content .t-landing_banner .landing-banner_content .landing-banner_title {
        font-size: 23px; } }
    @media (max-width: 576px) {
      .t-landing_content .t-landing_banner .landing-banner_content .landing-banner_title {
        font-size: 30px;
        line-height: 39px; } }
  .t-landing_content .t-landing_banner .landing-banner_content .landing-banner_subtitle {
    font-size: 24px;
    line-height: 31px;
    color: #515070;
    margin-bottom: 40px; }
    @media (max-width: 1024px) {
      .t-landing_content .t-landing_banner .landing-banner_content .landing-banner_subtitle {
        font-size: 18px; } }
    @media (max-width: 1024px) {
      .t-landing_content .t-landing_banner .landing-banner_content .landing-banner_subtitle {
        font-size: 18px; } }
    @media (max-width: 576px) {
      .t-landing_content .t-landing_banner .landing-banner_content .landing-banner_subtitle {
        font-size: 18px;
        line-height: 23px; } }
  .t-landing_content .t-landing_banner .landing-banner_content .landing-banner_img {
    width: 100%; }
  @media (max-width: 576px) {
    .t-landing_content .t-landing_banner .landing-banner_content .btn-style_sample {
      margin-bottom: 30px; } }
  @media (max-width: 576px) {
    .t-landing_content .t-landing_banner .landing-banner_content {
      text-align: center; } }
  @media (max-width: 576px) {
    .t-landing_content .t-landing_banner {
      padding: 0; } }

.t-landing_content .t-landing_service {
  background-color: #F5F5FB;
  padding: 100px 10%; }
  .t-landing_content .t-landing_service .t-service_title p {
    font-size: 36px;
    line-height: 47px;
    color: #0F0E31;
    text-align: center; }
    @media (max-width: 576px) {
      .t-landing_content .t-landing_service .t-service_title p {
        font-size: 26px;
        line-height: 34px; } }
  @media (max-width: 576px) {
    .t-landing_content .t-landing_service {
      padding: 50px 5%; } }
  .t-landing_content .t-landing_service .t-service_type {
    margin-top: 80px; }
    .t-landing_content .t-landing_service .t-service_type .service_category {
      text-align: center;
      padding: 0 20px;
      width: 25%; }
      .t-landing_content .t-landing_service .t-service_type .service_category .service-category_img {
        margin-top: 60px;
        height: 80px; }
        .t-landing_content .t-landing_service .t-service_type .service_category .service-category_img img {
          width: 80px; }
        @media (max-width: 576px) {
          .t-landing_content .t-landing_service .t-service_type .service_category .service-category_img {
            margin-top: 45px; } }
      .t-landing_content .t-landing_service .t-service_type .service_category .service-category_title {
        margin-top: 40px;
        color: #0F0E31;
        font-weight: bold; }
      .t-landing_content .t-landing_service .t-service_type .service_category .service-category_subtitle {
        font-size: 16px;
        line-height: 21px;
        color: #0F0E31; }
      @media (max-width: 1024px) {
        .t-landing_content .t-landing_service .t-service_type .service_category {
          width: 25%; } }
      @media (max-width: 576px) {
        .t-landing_content .t-landing_service .t-service_type .service_category {
          width: 100%; } }
    @media (max-width: 576px) {
      .t-landing_content .t-landing_service .t-service_type {
        margin-top: 50px; } }

.t-landing_content .t-landing_profile {
  padding: 160px 10%; }
  @media (max-width: 576px) {
    .t-landing_content .t-landing_profile {
      padding: 100px 5%; } }
  @media (max-width: 576px) {
    .t-landing_content .t-landing_profile .t-profile_type .row-user {
      display: flex;
      flex-wrap: nowrap;
      width: 400%; } }
  .t-landing_content .t-landing_profile .t-profile_type .service_category {
    padding: 0 20px;
    margin-bottom: 30px;
    width: 25%;
    position: relative; }
    .t-landing_content .t-landing_profile .t-profile_type .service_category .round {
      height: 286px;
      width: 100%;
      padding-top: 70px;
      border-radius: 6px 6px 60px 6px;
      clip-path: polygon(100% 0, 100% 84%, 85% 100%, 0 100%, 0 100%, 0 0); }
      @media (max-width: 1024px) {
        .t-landing_content .t-landing_profile .t-profile_type .service_category .round {
          padding-top: 50px;
          border-radius: 6px 6px 50px 6px;
          height: 200px;
          clip-path: polygon(100% 0, 100% 84%, 82% 100%, 0 100%, 0 100%, 0 0); } }
      @media (max-width: 768px) {
        .t-landing_content .t-landing_profile .t-profile_type .service_category .round {
          clip-path: polygon(100% 0, 100% 84%, 89% 100%, 0 100%, 0 100%, 0 0); } }
      @media (max-width: 576px) {
        .t-landing_content .t-landing_profile .t-profile_type .service_category .round {
          clip-path: polygon(100% 0, 100% 83%, 90% 100%, 0 100%, 0 100%, 0 0); } }
    .t-landing_content .t-landing_profile .t-profile_type .service_category .profile-logo_sec {
      width: 80px;
      border-radius: 50%;
      background-color: white;
      padding: 10px;
      margin-left: 20px;
      box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.15);
      position: absolute;
      top: -40px;
      z-index: 10; }
      .t-landing_content .t-landing_profile .t-profile_type .service_category .profile-logo_sec img {
        width: 100%; }
    .t-landing_content .t-landing_profile .t-profile_type .service_category .quote {
      padding-left: 20px;
      margin-left: 20px;
      border-left: 2px solid; }
      .t-landing_content .t-landing_profile .t-profile_type .service_category .quote .quote-content_text {
        margin-top: 30px;
        font-weight: bold;
        font-size: 24px;
        line-height: 30px; }
        @media (max-width: 1024px) {
          .t-landing_content .t-landing_profile .t-profile_type .service_category .quote .quote-content_text {
            margin-top: 10px;
            font-size: 18px; } }
    @media (max-width: 1024px) {
      .t-landing_content .t-landing_profile .t-profile_type .service_category {
        padding: 0 10px; } }
    @media (max-width: 768px) {
      .t-landing_content .t-landing_profile .t-profile_type .service_category {
        width: 50%;
        margin-top: 60px; } }
    @media (max-width: 576px) {
      .t-landing_content .t-landing_profile .t-profile_type .service_category {
        width: 100%;
        margin-top: 60px; } }
  @media (max-width: 576px) {
    .t-landing_content .t-landing_profile .t-profile_type {
      overflow: auto; } }

.t-landing_content .t-landing_form {
  height: 470px;
  padding: 60px 10%;
  background-color: #F5F5FB; }
  .t-landing_content .t-landing_form .t-landing-form_content .form-title_style {
    font-size: 30px;
    line-height: 39px;
    color: #0F0E31; }
  .t-landing_content .t-landing_form .t-landing-form_content img {
    width: 400px; }
    @media (max-width: 1064px) {
      .t-landing_content .t-landing_form .t-landing-form_content img {
        width: 350px; } }
  .t-landing_content .t-landing_form .t-landing-form_content .contact-form_img {
    margin-top: 45px; }
  .t-landing_content .t-landing_form .t-landing-form_content .contact-form_section {
    width: 100%;
    background: white;
    border-radius: 6px;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.15);
    margin-top: -150px; }
    .t-landing_content .t-landing_form .t-landing-form_content .contact-form_section .custom-bg_style {
      height: 140px;
      border-top-left-radius: 6px;
      border-top-right-radius: 6px;
      background: #5D58F7; }
      .t-landing_content .t-landing_form .t-landing-form_content .contact-form_section .custom-bg_style .mobile-img_style {
        text-align: center;
        position: relative; }
        @media (max-width: 768px) {
          .t-landing_content .t-landing_form .t-landing-form_content .contact-form_section .custom-bg_style .mobile-img_style img {
            left: 20%;
            width: 50%; } }
        @media (max-width: 576px) {
          .t-landing_content .t-landing_form .t-landing-form_content .contact-form_section .custom-bg_style .mobile-img_style img {
            position: absolute;
            left: 10%;
            bottom: -140px;
            width: 70%; } }
    .t-landing_content .t-landing_form .t-landing-form_content .contact-form_section .gradient-divide_style {
      background: linear-gradient(357.17deg, #FFBA5F 32.57%, #FF4378 100%);
      height: 8px; }
    .t-landing_content .t-landing_form .t-landing-form_content .contact-form_section .form-header_style {
      background: #5D58F7;
      text-align: center;
      font-size: 20px;
      line-height: 26px;
      border-top-left-radius: 6px;
      border-top-right-radius: 6px; }
      .t-landing_content .t-landing_form .t-landing-form_content .contact-form_section .form-header_style p {
        padding: 1.2em; }
      @media (max-width: 768px) {
        .t-landing_content .t-landing_form .t-landing-form_content .contact-form_section .form-header_style {
          border-top-left-radius: 0;
          border-top-right-radius: 0; } }
    .t-landing_content .t-landing_form .t-landing-form_content .contact-form_section .form-body_style {
      padding: 0 12% 20px 15%; }
      .t-landing_content .t-landing_form .t-landing-form_content .contact-form_section .form-body_style .form-label_style {
        font-weight: bold;
        color: #0F0E31;
        margin-top: 13px;
        margin-bottom: 8px; }
      .t-landing_content .t-landing_form .t-landing-form_content .contact-form_section .form-body_style input[type='text'] {
        border: 1px solid #DFDFDF;
        border-radius: 3px;
        padding: 10px; }
      .t-landing_content .t-landing_form .t-landing-form_content .contact-form_section .form-body_style .btn-style_sample {
        margin-top: 28px; }
      @media (max-width: 1024px) {
        .t-landing_content .t-landing_form .t-landing-form_content .contact-form_section .form-body_style {
          padding: 0 10% 20px 13%; } }
      @media (max-width: 576px) {
        .t-landing_content .t-landing_form .t-landing-form_content .contact-form_section .form-body_style {
          padding: 0 5% 20px 8%; } }
    .t-landing_content .t-landing_form .t-landing-form_content .contact-form_section .form-contact_style {
      padding: 0 18% 20px 20%;
      align-items: center; }
      .t-landing_content .t-landing_form .t-landing-form_content .contact-form_section .form-contact_style img {
        width: 24px;
        height: 24px; }
      .t-landing_content .t-landing_form .t-landing-form_content .contact-form_section .form-contact_style p {
        color: #0F0E31;
        font-size: 16px;
        line-height: 21px;
        margin: 0; }
      .t-landing_content .t-landing_form .t-landing-form_content .contact-form_section .form-contact_style .phone_number {
        font-weight: bold; }
      @media (max-width: 1024px) {
        .t-landing_content .t-landing_form .t-landing-form_content .contact-form_section .form-contact_style {
          padding: 0 12% 20px 14%; } }
    @media (max-width: 768px) {
      .t-landing_content .t-landing_form .t-landing-form_content .contact-form_section {
        margin-top: 0; } }
  @media (max-width: 768px) {
    .t-landing_content .t-landing_form {
      height: unset;
      background: white; } }
  @media (max-width: 576px) {
    .t-landing_content .t-landing_form {
      padding: 0 3%; } }

.white-bg_custom {
  height: 150px; }

.justify-center {
  justify-content: center; }

@font-face {
  font-family: 'DMsans';
  src: url("DMSans-Regular.ttf"); }

body {
  font-size: 18px;
  font-family: 'DMsans';
  letter-spacing: -0.01em;
  line-height: 23px;
  color: white; }

.color-1 {
  background: #5D58F7; }

.color-2 {
  background: #0F0E31; }

.color-3 {
  background: #FF6272; }

.color-4 {
  background: #0F0E31; }

.bd-color-1 {
  border-color: #FF6272; }

.bd-color-2 {
  border-color: #5D58F7; }

.bd-color-3 {
  border-color: #5D58F7; }

.bd-color-4 {
  border-color: #FF4378; }

* {
  margin: 0;
  padding: 0; }

.toggler-border {
  border: none; }

.nav-bg {
  position: absolute; }

.nav-wrapper {
  max-width: 100%;
  background-repeat: round; }

.backbg {
  background-image: url(/images/desktop-bg.png);
  height: 430px; }

.nav-link {
  color: #fafafa; }
  .nav-link:hover {
    color: #fafafa; }

.headerBannerTitle {
  font-weight: 500;
  font-size: 44px;
  line-height: 48px; }
  @media (max-width: 576px) {
    .headerBannerTitle {
      font-size: 35px; } }

.c-nav {
  margin: 0 auto; }
  .c-nav li {
    padding: 0 14px; }
    .c-nav li a {
      color: #ffffff;
      font-weight: bold; }
      .c-nav li a:hover {
        color: #fafafa; }

.bg-img {
  background-color: #5d58f7;
  position: relative;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
  top: 25px;
  padding: 26px 20px;
  border-radius: 6px; }

button:focus {
  outline: none; }

.c-phn {
  color: #ffffff;
  margin-right: 2rem;
  margin-left: 14px;
  font-weight: bold; }

.c-btn {
  padding: 5px 26px;
  border: 1px solid #fafafa;
  border-radius: 6px;
  color: #ffffff;
  font-weight: bold; }
  .c-btn:hover {
    background: none;
    color: #ffffff;
    border: 1px solid #fafafa; }

.c-hero {
  margin-top: 80px; }
  .c-hero h3 {
    color: #ffffff; }
  .c-hero a {
    color: #ffffff;
    border: 2px solid #ffffff;
    padding: 10px 13px; }

.c-hero-btn {
  text-align: center;
  margin-top: 40px; }

.c-inline {
  display: block; }

.content {
  margin-top: 70px; }

.footerTemp {
  background-color: #5D58F7; }

.footerSummary {
  padding: 50px 10%;
  background-color: #5D58F7;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15); }

.row-user {
  display: flex;
  flex-wrap: wrap; }

.justify-between {
  justify-content: space-between; }

.align-center {
  align-items: center; }

.groupContent {
  margin-left: 26px; }

.groupTitle {
  font-size: 16px;
  color: white;
  line-height: 21px;
  font-weight: bold;
  margin-bottom: 10px; }

.groupDescription {
  color: white;
  margin: 0; }

.mobileShow {
  display: none !important; }

.tabletShow {
  display: none !important; }

.footerContent {
  padding: 80px 10%; }
  .footerContent > .row-user .inputBox {
    padding: 10px 0;
    border-bottom: 2px solid white;
    margin-bottom: 1rem; }
    .footerContent > .row-user .inputBox > input {
      background-color: #5D58F7;
      color: white;
      outline: unset;
      border: none; }
      .footerContent > .row-user .inputBox > input::placeholder {
        color: white; }
    .footerContent > .row-user .inputBox > button {
      background-color: transparent;
      border: none;
      float: right; }

.listGroup:last-child {
  margin-left: 40px; }

.customMargin {
  margin-bottom: 100px; }

.footer-logo-box p {
  margin: 0;
  margin-left: 15px; }

.footer-logo-box .menuTitle {
  font-size: 16px;
  line-height: 21px; }

.menuGroup .row {
  margin: 0; }

.footer-store-box > div {
  width: 50%; }
  .footer-store-box > div:first-child {
    text-align: left; }
  .footer-store-box > div:last-child {
    text-align: right; }
  .footer-store-box > div img {
    width: 95%; }

@media (max-width: 1024px) {
  .groupContent {
    margin-left: 12px; }
  .menuGroup:first-child {
    margin-bottom: 20px; } }

@media (max-width: 768px) {
  .container {
    padding: 0 !important; }
  .tabletHide {
    display: none !important; }
  .tabletShow {
    display: block !important; } }

@media (max-width: 576px) {
  .listGroup:last-child {
    margin-left: 0px; }
  .customMargin {
    margin-bottom: 50px; } }

@media (max-width: 414px) {
  .bg-img {
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
    top: 0;
    padding: 20px 0; }
  .nav-wrapper {
    background-image: url(/images/mobile-bg.png); }
  .c-hero {
    margin-top: 50px; }
  .menuGroup:last-child {
    margin-bottom: 30px; }
  .menuGroup:first-child {
    margin-bottom: 0; }
  .c-inline {
    display: inline; }
  .row-user {
    display: block; }
    .row-user .summaryGroup {
      margin-bottom: 30px;
      margin-left: 10px; }
  .nav-bg img {
    height: 350px; }
  .footerContent > .row-user {
    display: flex;
    flex-wrap: wrap-reverse; }
    .footerContent > .row-user .contentGroup {
      width: 100%; }
    .footerContent > .row-user .inputBox {
      padding: 10px 0;
      border-bottom: 2px solid white;
      margin-bottom: 2rem; }
      .footerContent > .row-user .inputBox > input {
        background-color: #5D58F7;
        color: white;
        outline: unset;
        border: none; }
        .footerContent > .row-user .inputBox > input::placeholder {
          color: white; }
      .footerContent > .row-user .inputBox > button {
        background-color: transparent;
        border: none;
        float: right; }
  .nav-wrapper {
    height: auto; }
  .mobileHide {
    display: none !important; }
  .mobileShow {
    display: block !important; }
  .c-hero-btn {
    padding-bottom: 34px; } }

/*# sourceMappingURL=style.css.map */