@import './page/index.scss';

@font-face {
  font-family: 'DMsans';
  src: url('DMSans-Regular.ttf');
}

body { 
  font-size: 18px;
  font-family: 'DMsans';
  letter-spacing: -0.01em;
  line-height: 23px;
  color: white;
}

* {
  margin: 0;
  padding: 0;
}

.toggler-border {
  border:none;
}

.nav-bg {
  position: absolute;
}

.nav-wrapper {
  max-width: 100%;
  background-repeat: round;
}

.backbg {
  background-image: url(/images/desktop-bg.png);
  height: 430px;
}

.nav-link {
  color: #fafafa;
  &:hover {
    color: #fafafa;
  }
}

.headerBannerTitle {
  font-weight: 500;
  font-size: 44px;
  line-height: 48px;
  @media (max-width: 576px) {
		font-size: 35px;
	}
}

.c-nav {
  margin: 0 auto;
  li {
    padding: 0 14px;
    a {
      color:#ffffff;
      font-weight: bold;
      &:hover {
        color: #fafafa;
      }
    }
  }
}

.bg-img {
  background-color: #5d58f7;
  position: relative;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
  top: 25px;
  padding: 26px 20px;
  border-radius: 6px;
}

button {
  &:focus {
    outline: none;
  }
}

.c-phn  {
  color:#ffffff;
  margin-right: 2rem;
  margin-left: 14px;
  font-weight: bold;
}

.c-btn {
  padding: 5px 26px;
  border: 1px solid #fafafa;
  border-radius: 6px;
  color: #ffffff;
  font-weight: bold;
  &:hover {
    background: none;
    color: #ffffff;
    border: 1px solid #fafafa;
  }
}

.c-hero {
  margin-top: 80px;
  h3  {
    color: #ffffff;
  }
  a  {
    color: #ffffff;
    border: 2px solid #ffffff;
    padding: 10px 13px;
  }
}

.c-hero-btn {
  text-align: center;
  margin-top: 40px;
}

.c-inline {
  display: block;
}

.content {
  margin-top: 70px;
}

.footerTemp {
  background-color: #5D58F7;;
}

.footerSummary  {
  padding: 50px 10%;
  background-color: #5D58F7;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
}

.row-user {
  display: flex;
  flex-wrap: wrap;
}

.justify-between { 
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.groupContent {
  margin-left: 26px;
}

.groupTitle {
  font-size: 16px;
  color: white;
  line-height: 21px;
  font-weight: bold;
  margin-bottom: 10px;
}

.groupDescription {
  color: white;
  margin: 0;
}

.mobileShow {
  display: none!important ;
}

.footerContent {
  padding: 80px 10%;
  &>.row-user {
    .inputBox {
      padding: 10px 0;
      border-bottom: 2px solid white;
      margin-bottom: 1rem;
      &>input {
        background-color: #5D58F7;
        color: white;
        outline: unset;
        border: none;
        &::placeholder {
          color: white;
        }
      }
      &>button {
        background-color: transparent;
        border: none;
        float: right;
      }
    }
  }
}

.listGroup {
  &:last-child {
    margin-left: 40px;
  }
}

.customMargin {
  margin-bottom: 100px;
}

.footer-logo-box {
  p {
    margin: 0;
    margin-left: 15px;
  }

  .menuTitle {
    font-size: 16px;
    line-height: 21px;
  }
}

.menuGroup {
  .row  {
    margin: 0;
  }
}

.footer-store-box {
  &>div {
    width: 50%;
    &:first-child {
      text-align: left;
    }
    &:last-child {
      text-align: right;
    }
    img {
      width: 95%;
    }
  }
}

@media (max-width: 1024px) {
  .groupContent {
    margin-left: 12px;
  }
  .menuGroup {
    &:first-child {
      margin-bottom: 20px;
    }
  }
}

@media (max-width: 768px) {
  .container {
    padding: 0!important;
  }
}

@media (max-width: 576px)  {
  .listGroup {
    &:last-child {
      margin-left: 0px;
    }
  }
  .customMargin {
    margin-bottom: 50px;
  }
}

@media (max-width: 414px)  {

  .bg-img  {
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
    top: 0;
    padding: 20px 0;
  }
  
  .nav-wrapper  {
    background-image: url(/images/mobile-bg.png);
  }

  .c-hero {
    margin-top: 50px;
  }

  .menuGroup {
    &:last-child {
      margin-bottom: 30px;
    }
    &:first-child {
      margin-bottom: 0;
    }
  }

  .c-inline {
    display: inline;
  }
  
  .row-user {
    display: block;
    .summaryGroup {
      margin-bottom: 30px;
      margin-left: 10px;
    }
  }

  .nav-bg {
    img {
      height: 350px;
    }
  }
  
  .footerContent {
    &>.row-user {
      display: flex;
      flex-wrap: wrap-reverse;
      .contentGroup {
        width: 100%;
      }
      .inputBox {
        padding: 10px 0;
        border-bottom: 2px solid white;
        margin-bottom: 2rem;
        &>input {
          background-color: #5D58F7;
          color: white;
          outline: unset;
          border: none;
          &::placeholder {
            color: white;
          }
        }
        &>button {
          background-color: transparent;
          border: none;
          float: right;
        }
      }
    }
  }

  .nav-wrapper {
    height: auto;
  }

  .mobileHide {
    display: none!important; 
  }
  
  .mobileShow {
    display: block!important; 
  }

  .c-hero-btn {
    padding-bottom: 34px;
  }

}
  
  
